---
layout: new-home
title: Michael Watts
description: "Website of Michael Watts, a web developer in Surrey, UK"
headline: An Web Developer's Diary
date:   2014-10-22 09:38:25
coverimage: cover11.jpg
tags: []
---
{% if site.paginate %}
	{% for post in paginator.posts %}

    <section class="row home-article-list">
        <div class="small-4 columns img">
            <img src="{{ site.url }}/images/{{ post.thumb }}">
        </div>
        <div class="small-8 columns">
            <header>
                <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
            </header>
            <article>
                <p>{{ post.description }}</p>
            </article>
            <footer class="row">
                <div class="small-6 columns meta">
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                        Date:
                        <span class="day">
                            {{ post.date | date: "%d" }}
                        </span>
                        <span class="month-year">
                            {{ post.date | date: "%B %Y" }}
                        </span>
                    </time>
                    Tags: {% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} category">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
                </div>
                <div class="small-6 columns text-right">
                    <a href="{{ site.url }}{{ post.url }}" class="button radius small outline">MORE <i class="fa fa-angle-right"></i></a>
                </div>
            </footer>
        </div>
    </section>

	{% endfor %}

    <section class="pagination-section">
        <div class="small-4 columns">
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a href="{{ site.url }}" class="button faded small radius"><i class="fa fa-arrow-left"></i> Newer</a>
            {% else %}
            <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="button faded small radius"><i class="fa fa-arrow-left"></i> Newer</a>
            {% endif %}
            {% else %}
            <a href="#" class="button faded small disabled radius"><i class="fa fa-chevron-left"></i> Newer</a>
            {% endif %}
        </div>
        <div class="small-4 columns text-center">
            <span class="page-status">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        </div>
        <div class="small-4 columns text-right radius">
            {% if paginator.next_page %}
            <a href="{{ site.url }}/page{{ paginator.next_page }}/" class="button faded small">Older <i class="fa fa-chevron-right"></i></a>
            {% else %}
            <a href="#" class="button faded small disabled">Older <i class="fa fa-chevron-right"></i></a>
            {% endif %}
        </div>
    </section>


{% else %}
	{% for post in site.posts %}
    <article class="notepad-index-post post row">
        <div class="small-12 medium-3 large-2 columns datetime">
            <span class="notepad-post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">
                    <span class="day">
                        {{ post.date | date: "%d" }}
                    </span>
                    <span class="month-year">
                        {{ post.date | date: "%B %Y" }}
                    </span>
                </time>
            </span>
        </div>
        <div class="small-12 medium-9 large-10 columns">
            <header class="notepad-post-header">
                <h3 class="notepad-post-title">
                    <a href="{{ site.url }}{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
            </header>
            <section class="notepad-post-excerpt">
                <p>{{ post.content | strip_html | truncatewords:100 }}</p>
            </section>
            
                <div class="notepad-index-post-tags">
                {% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} category">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
                    
                </div>
            
        </div>
    </article>
	{% endfor %}  
{% endif %}