---
import { getCollection } from "astro:content";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";
import LeadParagraph from "../../components/LeadParagraph.astro";
import CodeBlock from "../../components/CodeBlock.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const recipes = await getCollection("recipes");
  const entries = [...posts, ...recipes];
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const components = { LeadParagraph, CodeBlock };
---

<MarkdownPostLayout frontmatter={entry.data}>
  <div class="content">
    <Content components={components} />
  </div>
</MarkdownPostLayout>
