<div class="sticky">

    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <a class="logo" href="{{ site.url }}">
            <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" />
        </a>

        <section>
            <div class="mobile-menu show-for-small right">
                <a href="#"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="menu right">
                <li class="mobile-close-btn show-for-small text-right">
                    <a href="#"><i class="fa fa-times"></i></a>
                </li>
                {% for link in site.links %}
                <li>
                    {% if link.external %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                    {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                    {% endif %}
                </li>
                {% endfor %}
                <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
            </ul>
        </section>

    </nav>
</div>