$body-bg: #FFF;
$text-color: #333;
$heading-color: #514753;
$brand-color-1: #514753;
$brand-color-2: #c03b5d;
$nav-height: 60px;

// redo on some of foundation design
.button {
  background-color: $brand-color-2;
  border-color: darken($brand-color-2, 10%);

  &.faded {
    color: $brand-color-2;
    background-color: lighten($brand-color-1, 60%);
    border-color: lighten($brand-color-1, 3%);

    &:hover {
      color: darken($brand-color-2, 5%);
      background-color: lighten($brand-color-1, 50%);
      border-color: lighten($brand-color-1, 3%);
    }
  }

  &.outline {
    color: $brand-color-2;
    border-width: 1px;
    border-color: lighten($brand-color-1, 60%);
    background-color: transparent;
    transition: border-color .1s linear;

    &:hover {
      border-color: darken($brand-color-2, 10%);
      color: darken($brand-color-2, 5%);
    }
  }
}

/* tools */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

body {
  font-family: "Open Sans", sans-serif;
  height: auto;
  min-height: 100%;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: $brand-color-2;
}

p {
  font-size: 1.125rem;
}

a {
  color: $brand-color-2;

  &:hover {color: darken($brand-color-2, 10%)}

  &:visited {
    color: $brand-color-1;

    &:hover {
      color: darken($brand-color-1, 10%)
    }
  }
}

nav.top-bar {
  width: 100%;
  height: $nav-height;
  background-color: #000;
  color: $body-bg;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;

  .logo {
    height: $nav-height;
    display: block;
    position: relative;
    z-index: 2;

    img {
      height: 100%;
      float: left;
      margin-right: 1.5em;
    }

    h1 {
      margin: 0;
      padding: 0;
      line-height: $nav-height;
      color: $body-bg;
      transition: all .1s ease-in-out;
      font-size: 1.2rem;
    }
  }

  .menu {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0.9375rem;
    font-family: "Montserrat", sans-serif;
    height: $nav-height;
    background: rgba(0, 0, 0, 0);
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    transition: transform .3s;
    transform: translate3d(0, -110%, 0);
    text-align: right;
    line-height: $nav-height;

    li {
      display: inline;
      margin: 0;
      width: 100%;
      font-size: 2.25rem;
      text-align: center;
      padding: 0.3125rem;

      a {
        color: $body-bg;
        font-weight: 400;
        font-size: 1.2rem;
        height: 100%;
        outline: none;

        &:hover {
          color: $brand-color-1;
        }
      }
    }
  }
}

@media only screen and (min-width: 40.063em) {
  .main-menu {
    .menu {
      padding-top: 1.75rem;
      padding-bottom: 1.5625rem;
      font-size: 1rem;
    }
  }
}

.clear-nav {
  position: fixed;
  top: $nav-height;
  left: 50%;
  bottom: 0;
  right: 0;

  .single-column {
    overflow: auto;
    height: 100%;
    padding: 6.5rem !important;
  }
}

.home-article-list {
  border-bottom: 1px solid darken($body-bg, 5%);
  padding: 1rem 0;
  margin: 0 0 1rem;

  .img img {
    width: 100%;
  }
  h1 {
    font-size: 1.4rem;
    text-transform: uppercase;

    a {
      color: $brand-color-2;
    }
  }

  .meta {
    font-size: 0.8rem;
    color: lighten($text-color, 40%);

    time {
      display: block;
      margin-bottom: 0.6rem;
    }

    a {
      display: inline-block;
      background-color: lighten($text-color, 70%);
      margin: 0 0.1rem 0.1rem 0;
      padding: 0.3rem;
      color: lighten($text-color, 40%);
      transition: all .1s linear;

      &:hover {
        background-color: lighten($text-color, 40%);
        color: lighten($text-color, 60%);
      }
    }
  }
}

.content-tags {
  padding: 0 0 1em;
  position: relative;

  a {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 1px;
    padding: 0.3em 0;
    display: inline-block;
    opacity: 0.7;
    margin: 0 0.5em;
    $body-bg-space: nowrap;
    color: #CF4A5C;

    &:hover {
      opacity: .4;
    }
  }
}

.signoff {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 2rem 0;
  position: relative;
  z-index: 1;

  .author-photo {
    width: 100px;
    float: right;
    left: 2rem;
  }

  .author-label {

  }

  h1 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    margin: 0;
  }
}
.intro-effect-sidefixed.modify .signoff {margin-top: 210px}


.share {
  border-bottom: 1px solid #EEE;
  padding: 2rem 0;
  position: relative;
  z-index: 1;

  p {
    margin: 0;
  }

  .share-icon {
    margin: 0 0.2rem;
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #000;
    line-height: 36px;
    text-align: center;
    border-radius: 20px;
    color: $body-bg;

    &:hover {
      background-color: $brand-color-1;
    }
  }
}

.disqus {
  border-bottom: 1px solid #EEE;
  padding: 2rem 0;
  position: relative;
  z-index: 1;

  .comments-header {
    font-size: 2rem;
    font-weight: 700;
  }
}

.aside {

  &.sticky-aside {
    position: fixed;
    top: $nav-height;
    left: 0;
    right: 50%;
    bottom: 0;
    background-color: darken($body-bg, 5%);

    header {
      position: absolute;
      top: 0;
      bottom: 50%;
      left: 0;
      right: 0;
      background-color: darken($body-bg, 25%);
      background-size: cover;

    }

    article {
      $inner-nav-height: 60px;
      position: absolute;
      top: 50%;
      bottom: 70px;
      left: 0;
      right: 0;

      .links {
        width: 100%;
        margin: 0;
        padding: 0;

        li {
          width: 33.3333333333%;
          text-align: center;
          margin: 0;

          a {
            display: block;
            background: $brand-color-2;
            height: $inner-nav-height;
            line-height: $inner-nav-height;
            color: $body-bg;

            &:hover {
              background: darken($brand-color-2, 10%);
            }
          }
        }
      }

      .inner {
        overflow: hidden;
        position: absolute;
        top: $inner-nav-height;
        left: 0;
        right: 0;
        bottom: 0;

        div {
          padding: 1rem;
          height: 100%;
          overflow: auto;

          h1 {
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            margin: 1.3rem 0 1rem;
          }
        }
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 70px;
      background-color: darken($body-bg, 10%);
      padding: 1rem;

      .copyright {
        vertical-align: bottom;
        display: table;
        height: 100%;

        div {
          display: table-cell;
          vertical-align: bottom;
        }
      }
    }
  }
}

.pagination-section {
  overflow: hidden;
  background: darken($body-bg, 5%);
  padding: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: -2rem;

  .page-status {
    color: $brand-color-2;
    margin-top: 1rem;
    font-weight: 700;
    display: block;
  }

  .button {
    margin-bottom: 0;

    &.disabled {

      &:hover {
        color: $brand-color-2;
        background-color: lighten($brand-color-1, 60%);
        border-color: lighten($brand-color-1, 3%);
      }
    }
  }
}


/*--------------------------------
/* ARTICLE EFFECTS
/*------------------------------*/

.header {
  position: relative;
  margin: 0 auto;
  min-height: 35rem;
  width: 100%;
}
.title {
  h1 {
    color: $text-color;

    &.background--dark {color: $body-bg}
    &.background--light {color: #222}
  }

  .subline {
    color: $body-bg;

    &.background--light {
      color: black;
    }

    &.background--dark {
      color: $body-bg;
    }
  }
}

// Start: Trigger button
.trigger {
  position: fixed;
  bottom: 2.5rem;
  left: 50%;
  z-index: 5000;
  display: block;
  margin-left: -0.5em;
  padding: 0;
  width: 1em;
  height: 1em;
  border: none;
  background: transparent;
  color: transparent;
  font-size: 2em;
  cursor: pointer;

  &:before {
    position: absolute;
    bottom: 100%;
    left: -200%;
    padding: 0.8em;
    width: 500%;
    color: black;
    content: attr(data-info);
    font-size: 1.125rem;
    text-transform: uppercase;
    backface-visibility: hidden;
  }

  &:focus {
    outline: none;
  }

  span {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: black;
      content: "\f078";
      text-transform: none;
      font-weight: normal;
      font-style: normal;
      font-variant: normal;
      font-family: 'FontAwesome';
      line-height: 1;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  &.background--light:before,
  &.background--light span:before{
    color: black;
  }

  &.background--dark:before,
  &.background--dark span:before{
    color: $body-bg;
  }
}

.container:not(.notrans) .trigger {
  transition: opacity 0.3s 0.5s;
}
.container.modify:not(.notrans) .trigger {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}
// End: Trigger button


.bg-img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
  }
}

//----------------------------------------------------------
// ARTICLE EFFECTS
// Start: Side fixed
.intro-effect-sidefixed {

  .header {
    position: absolute;
  }

  .bg-img {
    position: fixed;

    &:before, &:after {
      content: '';
      position: absolute;
      z-index: 100;
    }

    &:before {
      width: 100%;
      height: 100%;
      background-color: rgba(247, 214, 169, 0.1);
    }

    &:after {
      background: $body-bg;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      transform: translateX(100%);
    }
  }

  .content {
    width: 50%;
    margin-left: 50% !important;;
    padding: 0 6.5rem !important;
    display: table;
    vertical-align: middle;
    table-layout: fixed;
  }

  &:not(.notrans) .bg-img:before,
  &:not(.notrans) .bg-img:after,
  &:not(.notrans) .title p,
  &:not(.notrans) .content > div {
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-duration: 0.5s;
  }
  &:not(.notrans) .content > div {
    transition-property: transform, opacity;
  }
  &:not(.notrans) .title p {
    transition-property: opacity;
  }
  &:not(.notrans) .body-content {
    transition-delay: 0s
  }
  &:not(.notrans) .bg-img::after {
    transition-property: transform;
  }

  .title {
    z-index: 1;
    margin: 0 auto;
    top: auto;
    left: auto;
    position: relative;
    text-align: left;
    transform: translateY(200px);
    width: 100%;
    height: 100%;

    .single-column {
      height: 100%;
      display: table-cell;
      vertical-align: middle;
    }

    h1 {
      font-size: 4.5rem;
      line-height: 1;
      margin-bottom: 1.5rem;
      transition: all 0.2s cubic-bezier(0.7,0,0.3,1);
      transition-delay: 0;
    }

    p {
      opacity: 0;
      color: #585A66;
      padding: 0 0 0.6em;
      font-weight: 300;
      font-size: 0.85em;
      margin: 0 auto;
      transition: all 0.2s cubic-bezier(0.7,0,0.3,1);
      transition-delay: 0;


      &.subline {
        opacity: 1;
        font-size: 1.75em;
        line-height: 1.4;
        transition: all 0.2s cubic-bezier(0.7,0,0.3,1);
        transition-delay: 0;
      }
    }
  }

  .body-content {
    z-index: 1;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.7,0,0.3,1);
    transform: translateY(400px);
    transition-delay: 0;
    margin-top: 70px;
  }

  &.modify {
    .title {
      h1 {
        transition-delay: .3s;
      }
      p {
        opacity: 1;
        transition-delay: .3s;
      }
    }

    .body-content {
      opacity: 1;
      transform: translateY(180px);
    }

    .bg-img {

      &:before {
        background-color: rgba(247, 214, 169, 0.4);
      }

      &:after{
        transform: translateX(0);
      }
    }

    &:not(.notrans) {
      .body-content {
        transition-delay: 0.5s;
      }
    }


  }

  &.plain {
    .content {
      width: 80%;
      margin: 0 auto !important;
      padding: 0 6.5rem !important;
    }
  }

}
// End: Side Fixed

.highlight {
  pre {
    code {

    }
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}

// End crollbar