.home-layout {
  @apply grid bg-earth text-white;

  grid-template-areas:
    "nav"
    "hero"
    "body"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  min-height: 100dvh;

  .static {
    @apply fixed inset-0;
    @apply mask-b-from-90%;
    @apply mask-t-from-90%;
    @apply pointer-events-none z-0;
    @apply bg-repeat;
    @apply mix-blend-multiply;
    @apply opacity-5;

    background-size: 50%;
    background-image: var(--bg-img);
  }

  > nav {
    grid-area: nav;

    @apply py-36 absolute left-0 right-0 bg-transparent z-999 mx-auto;
  }

  > .hero-section {
    grid-area: hero;
  }

  > .main {
    grid-area: body;
    min-height: 0;

    @apply min-h-dvh;
  }

  > footer {
    grid-area: footer;

    @apply bg-earth;
  }
}
