@layer view-transitions, reset, variables, layout, overrides, content;

@layer reset {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /*
    10. Create a root stacking context
  */
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer variables {
  :root {
    --font-display: "sofia-pro", sans-serif;
    --font-sans: "inter-variable", sans-serif;
    --font-serif: "proxima-nova", serif;
    --font-mono: "source-code-pro", monospace;

    --header-font: var(--font-display);
    --body-font: var(--font-sans);

    /* @link https://utopia.fyi/type/calculator?c=320,18,1.25,1440,28,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--2: clamp(0.72rem, 0.7046rem + 0.0769vw, 0.7738rem);
    --step--1: clamp(0.9rem, 0.8624rem + 0.1879vw, 1.0315rem);
    --step-0: clamp(1.125rem, 1.0536rem + 0.3571vw, 1.375rem);
    --step-1: clamp(1.4063rem, 1.2844rem + 0.6095vw, 1.8329rem);
    --step-2: clamp(1.7578rem, 1.562rem + 0.9792vw, 2.4432rem);
    --step-3: clamp(2.1973rem, 1.8945rem + 1.5136vw, 3.2568rem);
    --step-4: clamp(2.7466rem, 2.2909rem + 2.2782vw, 4.3413rem);
    --step-5: clamp(3.4332rem, 2.7607rem + 3.3625vw, 5.787rem);

    /* @link https://utopia.fyi/space/calculator?c=320,18,1.25,1440,22,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --space-3xs: clamp(0.3125rem, 0.2946rem + 0.0893vw, 0.375rem);
    --space-2xs: clamp(0.5625rem, 0.5268rem + 0.1786vw, 0.6875rem);
    --space-xs: clamp(0.875rem, 0.8214rem + 0.2679vw, 1.0625rem);
    --space-s: clamp(1.125rem, 1.0536rem + 0.3571vw, 1.375rem);
    --space-m: clamp(1.6875rem, 1.5804rem + 0.5357vw, 2.0625rem);
    --space-l: clamp(2.25rem, 2.1071rem + 0.7143vw, 2.75rem);
    --space-xl: clamp(3.375rem, 3.1607rem + 1.0714vw, 4.125rem);
    --space-2xl: clamp(4.5rem, 4.2143rem + 1.4286vw, 5.5rem);
    --space-3xl: clamp(6.75rem, 6.3214rem + 2.1429vw, 8.25rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2054rem + 0.5357vw, 0.6875rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4196rem + 0.7143vw, 1.0625rem);
    --space-xs-s: clamp(0.875rem, 0.7321rem + 0.7143vw, 1.375rem);
    --space-s-m: clamp(1.125rem, 0.8571rem + 1.3393vw, 2.0625rem);
    --space-m-l: clamp(1.6875rem, 1.3839rem + 1.5179vw, 2.75rem);
    --space-l-xl: clamp(2.25rem, 1.7143rem + 2.6786vw, 4.125rem);
    --space-xl-2xl: clamp(3.375rem, 2.7679rem + 3.0357vw, 5.5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4286rem + 5.3571vw, 8.25rem);

    /* Custom pairs */
    --space-s-l: clamp(1.125rem, 0.6607rem + 2.3214vw, 2.75rem);

    --container-width: 100%;

    --font-regular: "slnt" 0, "wght" 400;
    --font-semi-bold: "slnt" 0, "wght" 600;
    --font-bold: "slnt" 0, "wght" 700;

    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius: 16px;
    --border-radius-lg: 32px;

    --color-primary: #ffffff;
    --color-onPrimary: #363636;
    --color-secondary: #d2d2d2;
    --color-emphasis: #0d9667;
    --color-error: #e74c3c;
    --color-success: #2ecc71;

    --color-background: var(--color-primary);
    --color-border: oklab(from var(--color-primary) l a calc(b * 0.25));
    --color-skeleton: #eeeeee;

    --color-text: var(--color-onPrimary);
    --color-link: var(--color-emphasis);
    --color-link-hover: oklab(from var(--color-emphasis) calc(l - 0.15) a b);

    --ease-out-elastic: linear(
      0,
      0.5737 7.6%,
      0.8382 11.87%,
      0.9463 14.19%,
      1.0292 16.54%,
      1.0886 18.97%,
      1.1258 21.53%,
      1.137 22.97%,
      1.1424 24.48%,
      1.1423 26.1%,
      1.1366 27.86%,
      1.1165 31.01%,
      1.0507 38.62%,
      1.0219 42.57%,
      0.9995 46.99%,
      0.9872 51.63%,
      0.9842 58.77%,
      1.0011 81.26%,
      1
    );
    --ease-in-cubic: cubic-bezier(0.55, 0.05, 0.675, 0.19);
    --ease-out-cubic: cubic-bezier(0.19, 0.91, 0.47, 0.92);
  }
}

@layer layout {
  @media screen and (min-width: 640px) {
    :root {
      --container-width: 640px;
    }
  }

  @media screen and (min-width: 768px) {
    :root {
      --container-width: 840px;
      --nav-clearance: 5rem;
    }
  }

  @media screen and (min-width: 1280px) {
    :root {
      --container-width: 1180px;
    }
  }

  @media screen and (min-width: 1440px) {
    :root {
      --container-width: 1340px;
    }
  }
}

@layer overrides {
  body {
    font-family: var(--body-font);
    font-variation-settings: var(--font-regular);
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: var(--step-0);
  }

  a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.3s;
  }

  a:hover,
  a:focus {
    color: var(--color-link-hover);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--header-font);
    color: var(--color-text);
    line-height: 1.25;
    font-weight: 700;
  }

  strong {
    font-variation-settings: var(--font-bold);
  }
}

@layer content {
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
  }

  .content h2 {
    font-size: var(--step-2);
  }

  .content h3 {
    font-size: var(--step-1);
  }
}

@layer view-transitions {
  @view-transition {
    navigation: auto;
  }
}

@layer view-transitions-experience {
  @keyframes fade-in-card-content {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out-card-content {
    to {
      opacity: 0;
    }
  }

  @keyframes fade-in-card-content-aside {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out-card-content-aside {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
  }

  @keyframes slide-down {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(40px);
    }
  }

  @keyframes slide-out {
    to {
      opacity: 0;
      transform: translateX(-40px);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  /* Experience section */
  ::view-transition-new(card-content-aside-streeva),
  ::view-transition-new(card-content-aside-1minus1),
  ::view-transition-new(card-content-aside-smsw),
  ::view-transition-new(card-content-aside-freelance) {
    animation: 200ms ease-in both fade-in-card-content-aside;
  }

  ::view-transition-old(card-content-aside-streeva),
  ::view-transition-old(card-content-aside-1minus1),
  ::view-transition-old(card-content-aside-smsw),
  ::view-transition-old(card-content-aside-freelance) {
    animation: 150ms ease-out both fade-out-card-content-aside;
  }

  ::view-transition-new(card-meta-streeva),
  ::view-transition-new(card-meta-1minus1),
  ::view-transition-new(card-meta-smsw),
  ::view-transition-new(card-meta-freelance) {
    animation: 2000ms var(--ease-out-cubic) both fade-in;
  }

  ::view-transition-old(card-meta-streeva),
  ::view-transition-old(card-meta-1minus1),
  ::view-transition-old(card-meta-smsw),
  ::view-transition-old(card-meta-freelance) {
    animation: 100ms var(--ease-in-cubic) both fade-out;
  }

  ::view-transition-new(card-content-body-streeva),
  ::view-transition-new(card-content-body-1minus1),
  ::view-transition-new(card-content-body-smsw),
  ::view-transition-new(card-content-body-freelance) {
    animation: 200ms var(--ease-out-cubic) both slide-in;
    animation-delay: 300ms;
  }

  ::view-transition-old(card-content-body-streeva),
  ::view-transition-old(card-content-body-1minus1),
  ::view-transition-old(card-content-body-smsw),
  ::view-transition-old(card-content-body-freelance) {
    animation: 100ms var(--ease-in-cubic) both fade-out;
    animation-delay: 0;
  }

  /* Work section */
  ::view-transition-new(work-main) {
    animation: 500ms var(--ease-out-cubic) both slide-up;
    animation-delay: 100ms;
  }

  ::view-transition-old(work-main) {
    animation: 100ms var(--ease-in-cubic) both slide-down;
    animation-delay: 0;
  }

  ::view-transition-new(work-controls) {
    animation: 1s var(--ease-out-elastic) both slide-up;
    animation-delay: 200ms;
  }

  ::view-transition-old(work-controls) {
    opacity: 0;
  }
}
