:root {
  --font-display: 'study-variable', sans-serif;
  --font-sans: 'proxima-nova', sans-serif;
  --font-serif: 'study-variable', serif;
  --font-mono: 'source-code-pro', monospace;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-12: 3rem;

  --container-width: 100%;
  --font-size-base: 16px;

  --color-primary: #be5d8e;
  --color-secondary: #06061d;

  --color-background: hsl(from var(--color-primary) h s calc(l * 1.9));
  --color-border: hsl(from var(--color-primary) h s calc(l * 1.75));
  --color-skeleton: #eeeeee;

  --color-text: hsl(from var(--color-primary) h s calc(l * 0.4));
  --color-link: hsl(from var(--color-link) h s calc(l / 1.5));
  --color-link-hover: hsl(from var(--color-link) h s calc(l / 1.9));
}

@media (min-width: 640px) {
  :root {
    --container-width: 640px;
    --font-size-base: 18px;
  }
}

@media (min-width: 768px) {
  :root {
    --container-width: 840px;
    --font-size-base: 23px;
    --nav-clearance: 5rem;
  }
}

body {
  font-family: var(--font-serif);
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  font-size: var(--font-size-base);
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
}

/* CODE: Rehype Pretty Code */
figure[data-rehype-pretty-code-figure] {
  --font-size: 0.75rem;
  --padding: 0.5rem;
  --border-width: 1px;
  --code-border: hsl(from var(--color-border) h s calc(l * 0.9));
  --side-margin: 0;

  position: relative;
  margin: 0;
}

@media (min-width: 768px) {
  figure[data-rehype-pretty-code-figure] {
    --font-size: 1rem;
    --padding: 1rem;
    --border-width: 3px;
    --side-margin: -1rem;
  }
}

@media (min-width: 939px) {
  figure[data-rehype-pretty-code-figure] {
    --side-margin: -2rem;
  }
}

figure[data-rehype-pretty-code-figure] pre {
  border: var(--border-width) solid var(--code-border);
  padding: var(--padding);
  border-radius: var(--padding);
  overflow-x: auto;
  margin: 1.5rem var(--side-margin);
}

html.dark code[data-theme*=" "],
html.dark code[data-theme*=" "] span {
  background: transparent;
  color: var(--shiki-dark);
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  background: transparent;
  color: var(--shiki-light);
}

code[data-language] {
  font-size: var(--font-size);
  position: relative;
}

/* CODE: Language Tag */
figure[data-rehype-pretty-code-figure]:has(.language-tag) {
  padding-top: 1.5rem;
  transform: translateY(-20px);
}

.language-tag {
  padding: var(--space-1) var(--space-4);
  letter-spacing: 0.05em;
  font-weight: 600;
  text-align: end;
  position: absolute;
  top: var(--space-3);
  right: var(--space-1);
  text-transform: uppercase;
  font-size: calc(var(--font-size) * 0.8);
  background-color: var(--color-border);
  border: var(--border-width) dashed var(--code-border);
  border-radius: var(--space-1);
  font-family: var(--font-mono);
  transform: translateY(50%);
}

.language-tag.bash {
  color: #22c55e;
}

.language-tag.typescript,
.language-tag.ts,
.language-tag.javascript,
.language-tag.js,
.language-tag.jsx,
.language-tag.tsx {
  color: #60a5fa;
}

.language-tag.gherkin {
  color: #eab308;
}

.language-tag.css {
  color: #ec4899;
}

.language-tag.html {
  color: #f97316;
}

/* CODE: Filename */
figure:has(figcaption[data-rehype-pretty-code-title]) {
  padding-top: 1.5rem;
}

figcaption[data-rehype-pretty-code-title] {
  padding: var(--space-1) var(--space-4);
  position: absolute;
  top: var(--space-5);
  left: 0;
  border-radius: var(--space-1);
  border: var(--border-width) solid var(--code-border);
  background-color: var(--code-border);
  border-bottom: none;
  font-family: var(--font-mono);
  font-size: var(--font-size);
}

@media (min-width: 768px) {
  figcaption[data-rehype-pretty-code-title] {
  top: var(--space-3);
  border-radius: var(--space-1) var(--space-1) 0 0;
  }
}

/* CODE: Diff Highlighting */
pre.has-diff code .diff {
  position: relative;
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
  display: inline-block;
}

pre.has-diff code .diff.remove {
  background-color: rgba(239, 68, 68, 0.2);
}

pre.has-diff code .diff.add {
  background-color: rgba(34, 197, 94, 0.2);
}

pre.has-diff code .diff:before {
  position: absolute;
  left: 10px;
}

pre.has-diff code .diff.add:before {
  content: "+";
  color: #22c55e;
}

pre.has-diff code .diff.remove:before {
  content: "-";
  color: #ef4444;
}
