:root {
  --font-display: 'study-variable', sans-serif;
  --font-sans: 'proxima-nova', sans-serif;
  --font-serif: 'study-variable', serif;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-12: 3rem;

  --container-width: 100%;
  --zoom: 100%;

  --color-background: #ffffff;
  --color-primary: #6b46c1;
  --color-primary-hsl: 271, 76%, 53%;
  --color-secondary: #718096;
  --color-secondary-hsl: 210, 16%, 51%;
  --color-border: #e1e1e1;
  --color-text: #333333;
  --color-text-secondary: #555555;
  --color-text-link: var(--color-primary);
  --color-text-link-hsl: var(--color-primary-hsl);
  --color-text-link-hover: hsl(from var(--color-text-link) h s calc(l / 1.5));
}

@media (min-width: 640px) {
  :root {
    --container-width: 640px;
    --zoom: 120%;
  }
}

@media (min-width: 768px) {
  :root {
    --container-width: 768px;
    --zoom: 135%;
    --nav-clearance: 5rem;
  }
}

body {
  font-family: var(--font-serif);
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  padding-top: var(--nav-clearance, 0);
  zoom: var(--zoom);
}



a {
  color: var(--color-text-link);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover,
a:focus {
  color: var(--color-text-link-hover);
}

.container {
  max-width: var(--container-width);
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  margin-left: auto;
  margin-right: auto;
}


.content figure[data-rehype-pretty-code-figure] {
  margin-top: 0;
}

figure[data-rehype-pretty-code-figure] {
  position: relative;
  margin: 2rem 0;
}

figure[data-rehype-pretty-code-figure] pre {
  border: 1px solid var(--color-border);
  padding: 0.5rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

@media (min-width: 768px) {
  figure[data-rehype-pretty-code-figure] pre {
    padding: 1rem;
  }
}

pre.has-diff code .diff {
  position: relative;
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
  display: inline-block;
}

pre.has-diff code .diff.remove {
  background-color: rgba(239, 68, 68, 0.2); /* Tailwind red-500 */
}

pre.has-diff code .diff.add {
  background-color: rgba(34, 197, 94, 0.2); /* Tailwind green-500 */
}

pre.has-diff code .diff:before {
  position: absolute;
  left: 10px;
}

pre.has-diff code .diff.add:before {
  content: "+";
  color: #22c55e; /* Tailwind green-500 */
}

pre.has-diff code .diff.remove:before {
  content: "-";
  color: #ef4444; /* Tailwind red-500 */
}

html.dark code[data-theme*=" "],
html.dark code[data-theme*=" "] span {
  background: transparent;
  color: var(--shiki-dark);
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  background: transparent;
  color: var(--shiki-light);
}

code[data-language] {
  font-size: 0.75rem;
  position: relative;
}
@media (min-width: 768px) {
  code[data-language] {
    font-size: 1rem;
  }
}

.language-tag {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  letter-spacing: 0.05em;
  font-weight: 600;
  text-align: end;
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  text-transform: uppercase;
  font-size: 0.75rem;
}

.language-tag.bash {
  color: #22c55e;
}

.language-tag.typescript,
.language-tag.ts,
.language-tag.javascript,
.language-tag.js,
.language-tag.jsx,
.language-tag.tsx {
  color: #60a5fa;
}

.language-tag.gherkin {
  color: #eab308;
}

.language-tag.css {
  color: #ec4899;
}

.language-tag.html {
  color: #f97316;
}
