/* line 9, ../app.scss */
.button {
  background-color: #c03b5d;
  border-color: #992f4a; }
  /* line 13, ../app.scss */
  .button.faded {
    color: #c03b5d;
    background-color: #e7e4e8;
    border-color: #594e5b; }
    /* line 18, ../app.scss */
    .button.faded:hover {
      color: #ac3554;
      background-color: #cfc9d0;
      border-color: #594e5b; }
  /* line 25, ../app.scss */
  .button.outline {
    color: #c03b5d;
    border-width: 1px;
    border-color: #e7e4e8;
    background-color: transparent;
    -webkit-transition: border-color .1s linear;
            transition: border-color .1s linear; }
    /* line 32, ../app.scss */
    .button.outline:hover {
      border-color: #992f4a;
      color: #ac3554; }

/* tools */
/* line 40, ../app.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

/* line 45, ../app.scss */
.cf:after {
  clear: both; }

/* line 48, ../app.scss */
body {
  font-family: "Open Sans", sans-serif;
  height: auto;
  min-height: 100%;
  line-height: 1; }

/* line 55, ../app.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #c03b5d; }

/* line 60, ../app.scss */
p {
  font-size: 1.125rem; }

/* line 64, ../app.scss */
a {
  color: #c03b5d; }
  /* line 67, ../app.scss */
  a:hover {
    color: #992f4a; }
  /* line 69, ../app.scss */
  a:visited {
    color: #514753; }
    /* line 72, ../app.scss */
    a:visited:hover {
      color: #362f38; }

/* line 78, ../app.scss */
nav.top-bar {
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999; }
  /* line 88, ../app.scss */
  nav.top-bar .logo {
    height: 60px;
    display: block;
    width: 60px;
    position: relative;
    z-index: 2; }
    /* line 95, ../app.scss */
    nav.top-bar .logo img {
      height: 100%; }
  /* line 100, ../app.scss */
  nav.top-bar .menu {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0.9375rem;
    font-family: "Montserrat", sans-serif;
    height: 60px;
    background: transparent;
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    -webkit-transition: -webkit-transform .3s;
            transition: transform .3s;
    -webkit-transform: translate3d(0, -110%, 0);
            transform: translate3d(0, -110%, 0);
    text-align: right;
    line-height: 60px; }
    /* line 115, ../app.scss */
    nav.top-bar .menu li {
      display: inline;
      margin: 0;
      width: 100%;
      font-size: 2.25rem;
      text-align: center;
      padding: 0.3125rem; }
      /* line 123, ../app.scss */
      nav.top-bar .menu li a {
        color: #FFF;
        font-weight: 400;
        font-size: 1.2rem;
        height: 100%;
        outline: none; }
        /* line 130, ../app.scss */
        nav.top-bar .menu li a:hover {
          color: #514753; }

@media only screen and (min-width: 40.063em) {
  /* line 140, ../app.scss */
  .main-menu .menu {
    padding-top: 1.75rem;
    padding-bottom: 1.5625rem;
    font-size: 1rem; } }
/* line 148, ../app.scss */
.clear-nav {
  position: fixed;
  top: 60px;
  left: 50%;
  bottom: 0;
  right: 0; }
  /* line 155, ../app.scss */
  .clear-nav .single-column {
    overflow: auto;
    height: 100%;
    padding: 6.5rem !important; }

/* line 162, ../app.scss */
.home-article-list {
  border-bottom: 1px solid #f2f2f2;
  padding: 1rem 0;
  margin: 0 0 1rem; }
  /* line 167, ../app.scss */
  .home-article-list .img img {
    width: 100%; }
  /* line 170, ../app.scss */
  .home-article-list h1 {
    font-size: 1.4rem;
    text-transform: uppercase; }
    /* line 174, ../app.scss */
    .home-article-list h1 a {
      color: #c03b5d; }
  /* line 179, ../app.scss */
  .home-article-list .meta {
    font-size: 0.8rem;
    color: #999999; }
    /* line 183, ../app.scss */
    .home-article-list .meta time {
      display: block;
      margin-bottom: 0.6rem; }
    /* line 188, ../app.scss */
    .home-article-list .meta a {
      display: inline-block;
      background-color: #e6e6e6;
      margin: 0 0.1rem 0.1rem 0;
      padding: 0.3rem;
      color: #999999;
      -webkit-transition: all .1s linear;
              transition: all .1s linear; }
      /* line 196, ../app.scss */
      .home-article-list .meta a:hover {
        background-color: #999999;
        color: #cccccc; }

/* line 204, ../app.scss */
.content-tags {
  padding: 0 0 1em;
  position: relative; }
  /* line 208, ../app.scss */
  .content-tags a {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 1px;
    padding: 0.3em 0;
    display: inline-block;
    opacity: 0.7;
    margin: 0 0.5em;
    color: #CF4A5C; }
    /* line 220, ../app.scss */
    .content-tags a:hover {
      opacity: .4; }

/* line 226, ../app.scss */
.signoff {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 2rem 0;
  position: relative;
  z-index: 1; }
  /* line 233, ../app.scss */
  .signoff .author-photo {
    width: 100px;
    float: right;
    left: 2rem; }
  /* line 243, ../app.scss */
  .signoff h1 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700; }
  /* line 250, ../app.scss */
  .signoff p {
    margin: 0; }

/* line 254, ../app.scss */
.intro-effect-sidefixed.modify .signoff {
  margin-top: 210px; }

/* line 257, ../app.scss */
.share {
  border-bottom: 1px solid #EEE;
  padding: 2rem 0;
  position: relative;
  z-index: 1; }
  /* line 263, ../app.scss */
  .share p {
    margin: 0; }
  /* line 267, ../app.scss */
  .share .share-icon {
    margin: 0 0.2rem;
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #000;
    line-height: 36px;
    text-align: center;
    border-radius: 20px;
    color: #FFF; }
    /* line 278, ../app.scss */
    .share .share-icon:hover {
      background-color: #514753; }

/* line 284, ../app.scss */
.disqus {
  border-bottom: 1px solid #EEE;
  padding: 2rem 0;
  position: relative;
  z-index: 1; }
  /* line 290, ../app.scss */
  .disqus .comments-header {
    font-size: 2rem;
    font-weight: 700; }

/* line 298, ../app.scss */
.aside.sticky-aside {
  position: fixed;
  top: 60px;
  left: 0;
  right: 50%;
  bottom: 0;
  background-color: #f2f2f2; }
  /* line 306, ../app.scss */
  .aside.sticky-aside header {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    background-color: #bfbfbf;
    background-size: cover; }
  /* line 317, ../app.scss */
  .aside.sticky-aside article {
    position: absolute;
    top: 50%;
    bottom: 70px;
    left: 0;
    right: 0; }
    /* line 325, ../app.scss */
    .aside.sticky-aside article .links {
      width: 100%;
      margin: 0;
      padding: 0; }
      /* line 330, ../app.scss */
      .aside.sticky-aside article .links li {
        width: 33.3333333333%;
        text-align: center;
        margin: 0; }
        /* line 335, ../app.scss */
        .aside.sticky-aside article .links li a {
          display: block;
          background: #c03b5d;
          height: 60px;
          line-height: 60px;
          color: #FFF; }
          /* line 342, ../app.scss */
          .aside.sticky-aside article .links li a:hover {
            background: #992f4a; }
    /* line 349, ../app.scss */
    .aside.sticky-aside article .inner {
      overflow: hidden;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0; }
      /* line 357, ../app.scss */
      .aside.sticky-aside article .inner div {
        padding: 1rem;
        height: 100%;
        overflow: auto; }
        /* line 362, ../app.scss */
        .aside.sticky-aside article .inner div h1 {
          font-size: 2rem;
          font-weight: 700;
          text-transform: uppercase;
          margin: 1.3rem 0 1rem; }
  /* line 372, ../app.scss */
  .aside.sticky-aside footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #e6e6e6;
    padding: 1rem; }
    /* line 381, ../app.scss */
    .aside.sticky-aside footer .copyright {
      vertical-align: bottom;
      display: table;
      height: 100%; }
      /* line 386, ../app.scss */
      .aside.sticky-aside footer .copyright div {
        display: table-cell;
        vertical-align: bottom; }

/* line 395, ../app.scss */
.pagination-section {
  overflow: hidden;
  background: #f2f2f2;
  padding: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: -2rem; }
  /* line 403, ../app.scss */
  .pagination-section .page-status {
    color: #c03b5d;
    margin-top: 1rem;
    font-weight: 700;
    display: block; }
  /* line 410, ../app.scss */
  .pagination-section .button {
    margin-bottom: 0; }
    /* line 415, ../app.scss */
    .pagination-section .button.disabled:hover {
      color: #c03b5d;
      background-color: #e7e4e8;
      border-color: #594e5b; }

/*--------------------------------
/* ARTICLE EFFECTS
/*------------------------------*/
/* line 429, ../app.scss */
.header {
  position: relative;
  margin: 0 auto;
  min-height: 35rem;
  width: 100%; }

/* line 436, ../app.scss */
.title h1 {
  color: #333; }
  /* line 439, ../app.scss */
  .title h1.background--dark {
    color: #FFF; }
  /* line 440, ../app.scss */
  .title h1.background--light {
    color: #222; }
/* line 443, ../app.scss */
.title .subline {
  color: #FFF; }
  /* line 446, ../app.scss */
  .title .subline.background--light {
    color: black; }
  /* line 450, ../app.scss */
  .title .subline.background--dark {
    color: #FFF; }

/* line 457, ../app.scss */
.trigger {
  position: fixed;
  bottom: 2.5rem;
  left: 50%;
  z-index: 5000;
  display: block;
  margin-left: -0.5em;
  padding: 0;
  width: 1em;
  height: 1em;
  border: none;
  background: transparent;
  color: transparent;
  font-size: 2em;
  cursor: pointer; }
  /* line 473, ../app.scss */
  .trigger:before {
    position: absolute;
    bottom: 100%;
    left: -200%;
    padding: 0.8em;
    width: 500%;
    color: black;
    content: attr(data-info);
    font-size: 1.125rem;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  /* line 486, ../app.scss */
  .trigger:focus {
    outline: none; }
  /* line 490, ../app.scss */
  .trigger span {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%; }
    /* line 497, ../app.scss */
    .trigger span:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: black;
      content: "\f078";
      text-transform: none;
      font-weight: normal;
      font-style: normal;
      font-variant: normal;
      font-family: 'FontAwesome';
      line-height: 1;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  /* line 517, ../app.scss */
  .trigger.background--light:before, .trigger.background--light span:before {
    color: black; }
  /* line 522, ../app.scss */
  .trigger.background--dark:before, .trigger.background--dark span:before {
    color: #FFF; }

/* line 528, ../app.scss */
.container:not(.notrans) .trigger {
  -webkit-transition: opacity 0.3s 0.5s;
          transition: opacity 0.3s 0.5s; }

/* line 531, ../app.scss */
.container.modify:not(.notrans) .trigger {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }

/* line 539, ../app.scss */
.bg-img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  /* line 548, ../app.scss */
  .bg-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-width: none; }

/* line 564, ../app.scss */
.intro-effect-sidefixed .header {
  position: absolute; }
/* line 568, ../app.scss */
.intro-effect-sidefixed .bg-img {
  position: fixed; }
  /* line 571, ../app.scss */
  .intro-effect-sidefixed .bg-img:before, .intro-effect-sidefixed .bg-img:after {
    content: '';
    position: absolute;
    z-index: 100; }
  /* line 577, ../app.scss */
  .intro-effect-sidefixed .bg-img:before {
    width: 100%;
    height: 100%;
    background-color: rgba(247, 214, 169, 0.1); }
  /* line 583, ../app.scss */
  .intro-effect-sidefixed .bg-img:after {
    background: #FFF;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }
/* line 593, ../app.scss */
.intro-effect-sidefixed .content {
  width: 50%;
  margin-left: 50% !important;
  padding: 0 6.5rem !important;
  display: table;
  vertical-align: middle;
  table-layout: fixed; }
  /* line 601, ../app.scss */
  .intro-effect-sidefixed .content div {
    position: relative;
    margin: 70px 0 0; }
/* line 607, ../app.scss */
.intro-effect-sidefixed:not(.notrans) .bg-img:before, .intro-effect-sidefixed:not(.notrans) .bg-img:after, .intro-effect-sidefixed:not(.notrans) .title p, .intro-effect-sidefixed:not(.notrans) .content > div {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
          transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
/* line 614, ../app.scss */
.intro-effect-sidefixed:not(.notrans) .content > div {
  -webkit-transition-property: -webkit-transform, opacity;
          transition-property: transform, opacity; }
/* line 617, ../app.scss */
.intro-effect-sidefixed:not(.notrans) .title p {
  -webkit-transition-property: opacity;
          transition-property: opacity; }
/* line 620, ../app.scss */
.intro-effect-sidefixed:not(.notrans) .body-content {
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }
/* line 623, ../app.scss */
.intro-effect-sidefixed:not(.notrans) .bg-img::after {
  -webkit-transition-property: -webkit-transform;
          transition-property: transform; }
/* line 627, ../app.scss */
.intro-effect-sidefixed .title {
  z-index: 1;
  margin: 0 auto;
  top: auto;
  left: auto;
  position: relative;
  text-align: left;
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
  width: 100%;
  height: 100%; }
  /* line 638, ../app.scss */
  .intro-effect-sidefixed .title .single-column {
    height: 100%;
    display: table-cell;
    vertical-align: middle; }
  /* line 644, ../app.scss */
  .intro-effect-sidefixed .title h1 {
    font-size: 4.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
            transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-delay: 0;
            transition-delay: 0; }
  /* line 652, ../app.scss */
  .intro-effect-sidefixed .title p {
    opacity: 0;
    color: #585A66;
    padding: 0 0 0.6em;
    font-weight: 300;
    font-size: 0.85em;
    margin: 0 auto;
    -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
            transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-delay: 0;
            transition-delay: 0; }
    /* line 663, ../app.scss */
    .intro-effect-sidefixed .title p.subline {
      opacity: 1;
      font-size: 1.75em;
      line-height: 1.4;
      -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
              transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
      -webkit-transition-delay: 0;
              transition-delay: 0; }
/* line 673, ../app.scss */
.intro-effect-sidefixed .body-content {
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
          transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translateY(400px);
      -ms-transform: translateY(400px);
          transform: translateY(400px);
  -webkit-transition-delay: 0;
          transition-delay: 0; }
/* line 683, ../app.scss */
.intro-effect-sidefixed.modify .title h1 {
  color: #514753;
  -webkit-transition-delay: .3s;
          transition-delay: .3s; }
/* line 687, ../app.scss */
.intro-effect-sidefixed.modify .title p {
  opacity: 1;
  color: #585A66;
  -webkit-transition-delay: .3s;
          transition-delay: .3s; }
/* line 694, ../app.scss */
.intro-effect-sidefixed.modify .body-content {
  opacity: 1;
  -webkit-transform: translateY(180px);
      -ms-transform: translateY(180px);
          transform: translateY(180px); }
/* line 701, ../app.scss */
.intro-effect-sidefixed.modify .bg-img:before {
  background-color: rgba(247, 214, 169, 0.4); }
/* line 705, ../app.scss */
.intro-effect-sidefixed.modify .bg-img:after {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }
/* line 711, ../app.scss */
.intro-effect-sidefixed.modify:not(.notrans) .body-content {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }

/* line 722, ../app.scss */
::-webkit-scrollbar {
  width: 4px;
  height: 6px; }

/* line 1155, ../app.scss */
/* line 728, ../app.scss */
::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

/* line 1161, ../app.scss */
/* line 734, ../app.scss */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px; }

/* line 1167, ../app.scss */
/* line 740, ../app.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2); }
