---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class="font-serif text-balance text-2xl md:text-3xl">
    Senior Frontend Engineer based in the UK
  </h2>

  <p class="font-serif text-sm md:text-base leading-normal">
    Experienced Senior Frontend Engineer, based in the UK, specialising in
    TypeScript, React & React Native, Vue, Node, and Deno. I also have backend
    experience with C#, Ruby, Node, and PHP/Laravel.
  </p>

  <p class="font-serif text-sm md:text-base leading-normal">
    I've worked with Azure, GCP and AWS, and have experience with CI/CD
    pipelines, Docker, and a little bit with Kubernetes. I have a strong focus
    on performance, accessibility, and I am passionate about building products
    which focus around user experience.
  </p>

  <p class="font-serif text-sm md:text-base leading-normal">
    Over my career, I've worked with some world-class clients including Toyota
    Formula One, WWF, Playground Games, Porsche, Philips, GAP, and HMRC.
  </p>

  <p class="font-serif text-sm md:text-base leading-normal">
    Outside of work I am interested in music (guitar and Synth), art, animation,
    tech, cooking, design and I'm always excited to discover new things.
  </p>
</BaseLayout>
