---
import BaseLayout from '../layouts/BaseLayout.astro';
import PersonalSummary from '../components/PersonalSummary.astro';

const pageTitle = 'About';
const languages = [
  'TypeScript',
  'JavaScript',
  'HTML',
  'CSS',
  'SCSS',
  'C#',
  'Ruby',
  'RoR',
  'Node',
  'React',
  'Angular',
  'Vue',
  'React Native',
]

const skills = [
  'Vue',
  'Vuex',
  'React',
  'Angular',
  'React Native',
  'Node',
  'AWS',
  'GCP',
  'Azure',
  'Linux',
  'Bash',
  'Azure Functions',
  'API Management',
]

const skillColor = "white";
---

<style define:vars={{skillColor}}>
.skill {
  color: var(--skillColor);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
</style>

<BaseLayout pageTitle={pageTitle}>
  <PersonalSummary />

  <h2>Location</h2>
  <p>
    I'm based in Surrey, UK.
  </p>

  <h2>Experience</h2>
  <p>
    I worked on a startup, IO Music, an Apple/Android music App built with React Native and on a number of other applications.
  </p>

  <p>
    Currently I'm working within the financial sector for Streeva Ltd on automating Gift Aid and tax.
  </p>

  <div class="grid">
    <div>
      <h3>Languages</h3>
      <ul>
        {languages.map((language) => (
          <li>{language}</li>
        ))}
      </ul>
    </div>

    <div>
      <h3>Skills</h3>
      <ul>
        {skills.map((skill) => (
          <li class="skill">{skill}</li>
        ))}
      </ul>
    </div>
  </div>
</BaseLayout>
