---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle} sidebar={true}>
  <h2 class="text-balance text-2xl md:text-3xl">
    I am a software engineer based in the UK.
  </h2>

  <p class="text-sm md:text-base leading-normal">
     I have a strong background in UI design and development and have worked with a wide
     range of clients from world renowned brands to up and coming startups.
  </p>

  <p class="text-sm md:text-base leading-normal">
    I am interested in music, art, tech and design and I'm always excited to discover
    new (and old) things.
  </p>

  <p class="text-sm md:text-base leading-normal">
    I  hope you find something of interest here.
  </p>
</BaseLayout>
