---
import BaseLayout from "../layouts/BaseLayout.astro";
import Container from "../components/Container.astro";
import HeroSection from "../components/index/HeroSection.astro";
import SkillsSection from "../components/index/SkillsSection.astro";
import ExperienceSection from "../components/index/ExperienceSection.astro";
import FeaturedWorkSection from "../components/index/FeaturedWorkSection.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <section id="hero">
    <Container>
      <HeroSection />
    </Container>
  </section>

  <section id="work">
    <Container>
      <FeaturedWorkSection />
    </Container>
  </section>

  <section id="skills">
    <Container>
      <SkillsSection />
    </Container>
  </section>

  <section id="experience">
    <Container>
      <ExperienceSection />
    </Container>
  </section>
</BaseLayout>

<style>
  #hero,
  #skills {
    min-height: 60vh;
    display: flex;
    place-items: center;
  }

  #hero,
  #skills,
  #experience,
  #work {
    margin: var(--space-24) 0;
  }
</style>
