---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/index/NewHeroSection.astro";
import FeaturedWorkSection from "../components/index/FeaturedWorkSectionNew.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <section id="hero">
    <HeroSection />
  </section>

  <section id="work">
    <FeaturedWorkSection />
  </section>
</BaseLayout>
