---
const { url, title, date, isActive } = Astro.props;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-gb", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  : null;
---

<li class:list={[isActive ? "active" : null]}>
  <a href={url}>{title}</a>
</li>
