<a href="/" class="avatar">
  <span role="heading" aria-level="1" class="avatar__heading">
    <span class="avatar__heading--name">Michael Watts</span>
    <div class="avatar__heading--title">Web Developer</div>
  </span>
</a>

<script>
  import { animate, stagger, splitText } from "animejs";

  if (
    "IntersectionObserver" in window &&
    "IntersectionObserverEntry" in window &&
    "intersectionRatio" in window.IntersectionObserverEntry.prototype
  ) {
    const section = document.querySelector("#hero");
    const { chars } = splitText(".avatar__heading--title", {
      chars: { wrap: "clip" },
    });

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            animate(chars, {
              opacity: 0,
              duration: 500,
              delay: stagger(-10),
              ease: "outQuart",
            });
          } else {
            animate(chars, {
              opacity: 1,
              delay: stagger(10),
              duration: 1000,
              ease: "outQuart",
            });
          }
        });
      },
      { threshold: 0.9 }
    );

    if (section) {
      observer.observe(section);
    }
  }
</script>

<style>
  .avatar {
    --heading-display: none;
    --title-display: none;
    --size: 48px;
  }

  @media screen and (min-width: 800px) {
    .avatar {
      --heading-display: flex;
    }
  }

  @media screen and (min-width: 1290px) {
    .avatar {
      --title-display: block;
    }
  }

  .avatar {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    justify-content: start;
    margin: 0;
  }

  .avatar__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-onPrimary);
    height: var(--size);
    width: var(--size);
    border-radius: var(--border-radius-sm);
    color: var(--color-primary);
  }

  .avatar__icon {
    height: 26px;
    width: 26px;
    fill: #eace09;
  }

  .avatar__heading {
    color: var(--color-onPrimary);
    display: var(--heading-display);
    gap: var(--space-2xs);
    font-family: var(--header-font);
    font-size: var(--step-2);
    font-weight: bold;
    transform-origin: left center;
    overflow: hidden;
  }

  .avatar__heading--name,
  .avatar__heading--title {
    display: block;
    isolation: isolate;
    z-index: 2;
  }

  .avatar__heading--title {
    display: var(--title-display);
    color: var(--color-emphasis);
    isolation: isolate;
    z-index: 1;
    overflow: hidden;
  }

  .avatar__icon-expression--none,
  .avatar__icon-expression--love {
    transition: opacity 200ms ease-in-out;
  }

  .avatar:hover .avatar__icon-expression--none,
  .avatar[inview-work] .avatar__icon-expression--none {
    opacity: 0;
  }

  .avatar__icon-expression--grimace {
    opacity: 0;
  }
</style>
