---
const { url, title, date, description } = Astro.props;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-gb", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  : null;
---

<a
  href={url}
  class="group block pb-7 mb-0 border-b border-secondary-200 dark:border-secondary-800 last:border-0 !no-underline"
>
  <article class="flex flex-col">
    <div class="md:flex justify-between items-baseline mb-0">
      <h4
        class="text-brand-500 transition-colors text-sm md:text-base leading-normal m-0 group-hover:text-brand-400 group-hover:underline"
      >
        {title}
      </h4>
      <time class="prose-sm opacity-50 group-hover:text-brand-400">
        {formattedDate}
      </time>
    </div>
    <p
      class="not-prose text-sm md:text-base leading-normal m-0 group-hover:text-brand-950 group-hover:dark:text-brand-200"
    >
      {description}
    </p>
  </article>
</a>
