---
const { url, title, date, description, previewImage } = Astro.props;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-gb", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  : null;
---

<a
  href={url}
  class="group !no-underline flex flex-col items-start justify-center md:flex-row focus:bg-amber-950"
>
  <h2
    class="font-serif font-bold md:font-display md:font-black text-brand-300 transition-colors text-3xl md:text-5xl leading-tighter md:-mt-5 mb-16 md:mb-0 md:me-24 group-hover:text-amber-400 group-focus:text-amber-400 text-balance md:border-b-8 md:border-brand-300 group-hover:border-amber-200 group-focus:border-amber-200 md:pb-24"
  >
    {title}
  </h2>
  <p
    class="font-serif text-base md:text-xl md:text-balance leading-normal mt-0 mb-0 group-hover:text-amber-200 group-focus:text-amber-200"
  >
    {description}
  </p>
</a>
