---
const { url, title, date, description, previewImage, tags } = Astro.props;

function getRandomGradient() {
  const gradients = [
    "bg-gradient-to-tr from-indigo-200 via-sky-200 to-emerald-200",
    "bg-gradient-to-tr from-cyan-200 via-blue-200 to-purple-200",
    "bg-gradient-to-tr from-red-200 via-pink-200 to-rose-200",
    "bg-gradient-to-tr from-green-200 via-teal-200 to-cyan-200",
    "bg-gradient-to-tr from-pink-200 via-yellow-200 to-amber-200",
    "bg-gradient-to-tr from-blue-200 via-purple-200 to-violet-200",
    "bg-gradient-to-tr from-fuchsia-200 via-indigo-200 to-purple-200",
    "bg-gradient-to-tr from-amber-200 via-rose-200 to-pink-200",
    "bg-gradient-to-tr from-lime-200 via-green-200 to-emerald-200",
    "bg-gradient-to-tr from-violet-200 via-purple-200 to-fuchsia-200",
    "bg-gradient-to-tr from-orange-200 via-red-200 to-rose-200",
    "bg-gradient-to-tr from-teal-200 via-cyan-200 to-blue-200",
    "bg-gradient-to-tr from-emerald-200 via-lime-200 to-green-200",
    "bg-gradient-to-tr from-yellow-200 via-amber-200 to-orange-200",
    "bg-gradient-to-tr from-purple-200 via-fuchsia-200 to-indigo-200",
    "bg-gradient-to-tr from-sky-200 via-blue-200 to-teal-200",
    "bg-gradient-to-tr from-rose-200 via-pink-200 to-red-200",
    "bg-gradient-to-tr from-indigo-200 via-violet-200 to-purple-200",
    "bg-gradient-to-tr from-cyan-200 via-teal-200 to-blue-200",
  ];
  return gradients[Math.floor(Math.random() * gradients.length)];
}

const gradientBg = getRandomGradient();

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-gb", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  : null;

const isRecipe = tags && tags.includes("recipes");
---

{
  !isRecipe ? (
    <li class="list-none p-0 mt-0 mb-0">
      <a
        href={url}
        class="group block pb-7 mb-18 !no-underline relative focus:bg-amber-950"
      >
        <article class="flex flex-col">
          <h2 class="font-serif font-semibold text-brand-300 transition-colors text-2xl leading-snug mt-0 mb-12 group-hover:text-amber-400 group-focus:text-amber-400">
            {title}
          </h2>
          <p class="font-serif text-sm md:text-base mt-0 mb-0 group-hover:text-amber-200 group-focus:text-amber-200">
            {description}
          </p>
        </article>
      </a>
    </li>
  ) : null
}
