---
const { href } = Astro.props;
---

<a href={href} class="close-button">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="close-button__icon"
    viewBox="0 0 16 16"
  >
    <path
      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
    ></path>
  </svg>
</a>

<style>
  .close-button {
    --size: 48px;
    --posX: 48px;
    --iconSize: 24px;
    --color: var(--color-onPrimary);
    --bgcolor: var(--color-primary);
    --hovercolor: var(--color-secondary);
  }

  .close-button {
    background-color: var(--bgcolor);
    border-radius: calc(var(--size) / 2);
    justify-content: center;
    display: flex;
    align-items: center;
    transition: background-color 200ms ease-in-out;
    height: var(--size);
    width: var(--size);
  }

  .close-button:hover,
  .close-button:focus {
    background-color: var(--color);
    color: var(--bgcolor);
  }

  .close-button__icon {
    fill: var(--color);
    stroke: var(--color);
    height: var(--iconSize);
    width: var(--iconSize);
    stroke-width: 1px;
  }

  .close-button:hover .close-button__icon {
    fill: var(--hovercolor);
    stroke: var(--hovercolor);
  }
</style>
