<div>
  <slot />
</div>

<style>
  div {
    max-width: var(--container-width);
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    margin-left: auto;
    margin-right: auto;
  }
</style>
