---
const { href, text } = Astro.props;

let buttonColor = "var(--color-emphasis)";
---

<a class="cta-link" href={href} style={`--button-color:${buttonColor}`}>
  <span class="circle"></span>
  <span class="text">{text}</span>
</a>

<script define:vars={{ buttonColor }}>
  const buttons = document.querySelectorAll(".cta-link");

  buttons.forEach((button) => {
    button?.addEventListener("mouseover", writeCssVars);
    button?.addEventListener("mouseout", writeCssVars);
    // Stop colour flash when using other themes
    setTimeout(() => {
      button?.style.setProperty("opacity", 1);
    }, 100);
  });

  function writeCssVars(mouseEvent) {
    const { target, clientX, clientY } = mouseEvent;
    const rect = target.getBoundingClientRect();
    target.style.setProperty("--width", target.offsetWidth + "px");
    target.style.setProperty(
      "--x",
      Math.round(clientX - rect.left - target.offsetWidth / 2) + "px"
    );
    target.style.setProperty(
      "--y",
      Math.round(clientY - rect.top - target.offsetWidth / 2) + "px"
    );
  }
</script>
