---
const { classList } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer
  role="contentinfo"
  class:list={["w-full", classList]}
  class="prose dark:prose-invert prose-xl"
>
  <div>
    <p class="m-0 text-sm md:text-base">
      <strong>© Michael Watts, 2022 - {currentYear}</strong>
    </p>
  </div>
</footer>
