---
---

<style>
  section {
    margin-top: 2rem;
  }
</style>

<section role="contentinfo">
  <p>
    <strong>Contact me:</strong>
    <br>
    More information can be found on <a href="https://www.linkedin.com/in/mwattsweb/" target="_blank">LinkedIn</a> or please contact me by <a href="mailto:hello@michaelwatts.me" target="_blank">email</a>.
  </p>
</section>