---
---

<section>
  <h2>Get in touch</h2>
  <p>
    More information can be found on <a href="https://www.linkedin.com/in/mwattsweb/" target="_blank">LinkedIn</a> or please contact me by <a href="mailto:hello@michaelwatts.me" target="_blank">email</a>
  </p>
</section>