---
const { classList } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer role="contentinfo" class:list={["", classList]}>
  <div class="container">
    <a href="#main">Back to top</a>
    <div>
      © Michael Watts, 2022 - {currentYear}
    </div>
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid var(--color-border);
    margin-top: var(--space-10);
    padding: var(--space-2) 0;
  }
</style>
