---
import Container from "./Container.astro";

const { classList } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer id="contact" class:list={["footer", classList]}>
  <Container>
    <div class="footer__email">
      <a href="mailto:hello@michaelwatts.me">HELLO@MICHAELWATTS.ME</a>
    </div>
    <div>
      © Michael Watts, 2022 - {currentYear}
    </div>
  </Container>
</footer>

<style>
  footer {
    background-color: var(--color-secondary);
    padding: var(--space-24) 0;
    text-align: center;
    container: footer / inline-size;
  }

  .footer__email {
    font-variation-settings: var(--font-bold);
  }
</style>
