---
const { classList } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer role="contentinfo" class:list={["", classList]}>
  <p>
    © Michael Watts, 2022 - {currentYear}
  </p>
</footer>
