---
import Container from "./Container.astro";

const { classList } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer class:list={["", classList]}>
  <Container>
    <div>
      © Michael Watts, 2022 - {currentYear}
    </div>
  </Container>
</footer>

<style>
  footer {
    background-color: var(--color-border);
    margin-top: var(--space-10);
    padding: var(--space-4) 0 var(--space-2);
    text-align: center;
  }
</style>
