<div class="glowing-button">
  <button class="btn">Button 1</button>
  <button class="btn red">Button 2</button>
  <button class="btn orange">Button 3</button>
  <button class="btn lilac">Button 4</button>
  <button class="btn green">Button 5</button>
</div>

<style>
  @layer properties {
    @property --bg-x {
      syntax: "<number>";
      inherits: true;
      initial-value: 50;
    }
    @property --bg-y {
      syntax: "<number>";
      inherits: true;
      initial-value: -200;
    }
    @property --glow-size {
      syntax: "<number>";
      inherits: true;
      initial-value: 0;
    }
    @property --flash-color {
      syntax: "<color>";
      inherits: true;
      initial-value: hsl(calc(var(--accent-color-hue) * 1deg) 100% 58%);
    }
    @property --flash-size {
      syntax: "<number>";
      inherits: true;
      initial-value: 0;
    }
    @property --text-flash-size {
      syntax: "<number>";
      inherits: true;
      initial-value: 0;
    }
    @property --accent-color-hue {
      syntax: "<number>";
      inherits: true;
      initial-value: 0;
    }
    @property --accent-color-hue {
      syntax: "<number>";
      inherits: true;
      initial-value: 0;
    }
    @property --accent-color {
      syntax: "<color>";
      inherits: true;
      initial-value: hsl(calc(var(--accent-color-hue) * 1deg) 100% 58%);
    }
    @property --radial-bg-color {
      syntax: "<color>";
      inherits: true;
      initial-value: black;
    }
  }

  @scope (.glowing-button) {
    :scope {
      --a11y: 0.5; /* 0 to 1 - controls the contrast of the outline */
      --background-color: hsl(210deg 92% 20%);
      --dark-color: hsl(210deg 92% 10%);
      --dark-color-hover: hsl(210deg 92% 30%);
      --light-color: hsl(210deg 92% 80%);
      --accent-color-hue: 210;
      --accent-color: hsl(calc(var(--accent-color-hue) * 1deg) 92% 70%);
      --radial-bg-color: var(--light-color);
      --bg-y: -50;
      --bg-x: 200;
      --glow-size: 2;
      --flash-color: hsla(calc(var(--accent-color-hue) * 1deg), 92%, 70%, 0.2);
      --flash-size: 0;
      --text-flash-size: 0;
      --text-flash-color: hsl(calc(var(--accent-color-hue) * 1deg) 92% 90%);
      /* Misc */
      --outer-radius: 5px;
      --inner-padding: 16px;
      --outline-color: hsla(
        calc(var(--accent-color-hue) * 1deg) 100% 70% / calc(var(--a11y) * 100%)
      );
    }
  }

  .glowing-button {
    background-color: #121212;
    position: relative;
    padding: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .btn {
    position: relative;
    background: var(--dark-color)
      radial-gradient(
        ellipse 70% 70% at calc(var(--bg-x) * 1%) calc(var(--bg-y) * 1%),
        var(--radial-bg-color) 0%,
        var(--dark-color) 100%
      );
    border-radius: var(--outer-radius);
    z-index: 1;
    box-shadow: 0 0 calc(var(--flash-size) * 1px) var(--flash-color);
    text-shadow: 0 0 calc(var(--text-flash-size) * 1px) var(--text-flash-color);
    padding: var(--inner-padding);
    font-size: 1.25rem;
    font-family: sans-serif;
    color: var(--light-color);
    border: 2px solid var(--outline-color);
  }

  .btn.red {
    --accent-color-hue: 340;
    --light-color: hsl(340deg 92% 80%);
    --accent-color: hsl(calc(var(--accent-color-hue) * 1deg) 92% 70%);
    --dark-color: hsl(340deg 92% 10%);
    --dark-color-hover: hsl(340deg 92% 30%);
    --radial-bg-color: hsl(340deg 92% 80%);
    --flash-color: hsla(calc(var(--accent-color-hue) * 1deg), 92%, 70%, 0.5);
    --text-flash-color: hsl(calc(var(--accent-color-hue) * 1deg) 92% 90%);
  }

  .btn.orange {
    --accent-color-hue: 40;
    --light-color: hsl(40deg 92% 80%);
    --accent-color: hsl(calc(var(--accent-color-hue) * 1deg) 92% 70%);
    --dark-color: hsl(40deg 92% 10%);
    --dark-color-hover: hsl(40deg 92% 30%);
    --radial-bg-color: hsl(40deg 92% 80%);
    --flash-color: hsla(calc(var(--accent-color-hue) * 1deg), 92%, 70%, 0.5);
    --text-flash-color: hsl(calc(var(--accent-color-hue) * 1deg) 92% 90%);
  }

  .btn.lilac {
    --accent-color-hue: 290;
    --light-color: hsl(290deg 92% 80%);
    --accent-color: hsl(calc(var(--accent-color-hue) * 1deg) 92% 70%);
    --dark-color: hsl(290deg 92% 10%);
    --dark-color-hover: hsl(290deg 92% 30%);
    --radial-bg-color: hsl(290deg 92% 80%);
    --flash-color: hsla(calc(var(--accent-color-hue) * 1deg), 92%, 70%, 0.5);
    --text-flash-color: hsl(calc(var(--accent-color-hue) * 1deg) 92% 90%);
  }

  .btn.green {
    --accent-color-hue: 140;
    --light-color: hsl(140deg 92% 80%);
    --accent-color: hsl(calc(var(--accent-color-hue) * 1deg) 92% 70%);
    --dark-color: hsl(140deg 92% 10%);
    --dark-color-hover: hsl(140deg 92% 30%);
    --radial-bg-color: hsl(140deg 92% 80%);
    --flash-color: hsla(calc(var(--accent-color-hue) * 1deg), 92%, 70%, 0.5);
    --text-flash-color: hsl(calc(var(--accent-color-hue) * 1deg) 92% 90%);
  }

  .btn:before {
    --padding: calc(var(--glow-size) * 1px);
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - var(--padding));
    height: calc(100% - var(--padding));
    top: calc(var(--padding) / 2);
    left: calc(var(--padding) / 2);
    background: var(--dark-color);
    border-radius: var(--outer-radius);
    transition: background-color 0.8s ease;
    z-index: -1;
  }

  .btn:hover {
    animation:
      glow 1.8s ease-in-out,
      flash 0.6s ease-out,
      text-flash 0.2 ease-out;
    cursor: pointer;
  }

  .btn:hover:before {
    background: var(--dark-color-hover);
  }

  @keyframes glow {
    from {
      --radial-bg-color: hsl(290deg 100% 100%);
      --bg-x: 100;
      --bg-y: 0;
    }
    50% {
      --radial-bg-color: var(--accent-color);
      --bg-x: 60;
      --bg-y: 120;
    }
    to {
      --radial-bg-color: var(--dark-color);
      --bg-x: 60;
      --bg-y: 120;
    }
  }

  @keyframes flash {
    from {
      --flash-color: var(--accent-color);
      --flash-size: 0;
      --text-flash-size: 0;
    }
    10% {
      --flash-color: var(--accent-color);
      --flash-size: 5;
      --text-flash-size: 2;
    }
    90% {
      --flash-color: hsla(calc(var(--accent-color-hue) * 1deg), 92%, 70%, 0.5);
      --flash-size: 50;
      --text-flash-size: 150;
    }
    to {
      --flash-color: var(--accent-color);
      --flash-size: 0;
      --text-flash-size: 0;
    }
  }
</style>
