---
const {
  backgroundColor = "--color-primary",
  height = 300,
  width = 840,
} = Astro.props;
---

<div>
  <slot />
</div>

<style define:vars={{ height, width, backgroundColor }}>
  div {
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    border: 4px solid hsl(from var(--backgroundColor) h s calc(l * 1.75));
    margin-left: -4px;
    max-height: var(--height);
    background-color: var(--backgroundColor);
    aspect-ratio: auto var(--width) / var(--height);
    box-sizing: border-box;
  }
</style>
