---
const {
  backgroundColor = "transparent",
  height = 300,
  width = 840,
} = Astro.props;
---

<div class="image-container">
  <slot />
</div>

<style is:global define:vars={{ backgroundColor, height, width }}>
  .image-container {
    overflow: hidden;
    border-radius: var(--border-radius);
    width: clamp(200px, 100%, 2816px);
    height: auto;
    background-color: var(--backgroundColor);
  }

  .image-container > img {
    padding: var(--space-3xs);
    width: clamp(200px, 100%, 2816px);
    height: auto;
    border-radius: var(--border-radius);
  }
</style>
