---
const { color = "var(--color-onPrimary)" } = Astro.props;
---

<div class="image-caption">
  <slot />
</div>

<style is:global define:vars={{ color }}>
  .image-caption {
    font-size: var(--step--1);
    font-variation-settings: var(--font-semi-bold);
    color: var(--color);
    text-align: center;
    padding: var(--space-s);
  }
</style>
