---
const {
  backgroundColor = "transparent",
  height = 300,
  width = 840,
} = Astro.props;
---

<div class="image-container">
  <slot />
</div>

<style is:global define:vars={{ height, width, backgroundColor }}>
  .image-container {
    overflow: hidden;
    border-radius: var(--border-radius);
    width: 100%;
    height: auto;
    background-color: var(--backgroundColor);
  }

  .image-container > img {
    width: clamp(200px, 100%, 2000px);
    height: auto;
  }
</style>
