<div>
  <slot />
</div>

<style>
  div :global(p) {
    font-size: larger;
    font-style: italic;
    line-height: 1.4;
    margin-top: var(--space-5);
    margin-bottom: var(--space-5);
    text-wrap: pretty;
  }
</style>
