---
const { heading, ariaLevel, title, url } = Astro.props;
---

<div class="list-heading" role={heading} aria-level={ariaLevel}>
  <a href={url} tabindex="-1" class="list-heading__link">
    {title}
  </a>
</div>

<style>
  .list-heading {
    --font-size: var(--font-size-lg);
  }

  @media (min-width: 768px) {
    .list-heading {
      --font-size: 2rem;
    }
  }

  .list-heading {
    font-size: var(--font-size);
    font-variation-settings: var(--font-bold);
    line-height: 1.4;
    margin: 0 0 var(--space-2);
    text-wrap: pretty;
  }

  .list-heading__link {
    text-decoration: none;
  }

  .list-heading__link:hover {
    color: oklab(from var(--color-onPrimary) calc(l - 0.1) a b);
  }
</style>
