---
const { heading, ariaLevel, title, url } = Astro.props;
---

<div role={heading} aria-level={ariaLevel}>
  <a href={url} tabindex="-1">
    {title}
  </a>
</div>

<style>
  div {
    --font-size: 20px;
  }

  @media (min-width: 768px) {
    div {
      --font-size: 32px;
    }
  }

  div {
    font-size: var(--font-size);
    font-weight: bold;
    line-height: 1.4;
    margin: 0 0 var(--space-2);
    text-wrap: pretty;
  }

  div a {
    text-decoration: none;
    color: var(--color-secondary);
  }
</style>
