---
import Avatar from "./Avatar.astro";
import NavItem from "./NavItem.astro";
import AiButton from "./NavItemAiButton.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav class="mainnav">
  <div class="blur-bg"></div>
  <div class="container">
    <div class="mainnav__content">
      <Avatar />
      <div class="mainnav__items">
        <div class="mainnav__menu-button-container">
          <button class="mainnav__menu-button">Menu</button>
        </div>
        <ol class="mainnav__pagelinks">
          <li>
            <NavItem href="/#work" isActive={currentPath === "works"}>
              Work
            </NavItem>
          </li>
          <li>
            <NavItem href="/#contact" isActive={currentPath === "contact"}>
              Contact
            </NavItem>
          </li>
          <li>
            <AiButton>Chat</AiButton>
          </li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<script>
  if (
    "IntersectionObserver" in window &&
    "IntersectionObserverEntry" in window &&
    "intersectionRatio" in window.IntersectionObserverEntry.prototype
  ) {
    const observer = new IntersectionObserver((entries) => {
      if (entries[0].boundingClientRect.y < 0) {
        document.body.classList.add("header-not-at-top");
      } else {
        document.body.classList.remove("header-not-at-top");
      }
    });
    const anchor = document.querySelector("#top-of-site-pixel-anchor");
    if (anchor) {
      observer.observe(anchor);
    }
  }

  // Handle menu button click event
  const mainnav = document.querySelector(".mainnav");
  const menuButton = document.querySelector(".mainnav__menu-button");
  const toggleMenuClass = () => {
    mainnav?.classList.toggle("on-mobile-open"); // add class to wrapper
    document.body.classList.toggle("no-scroll"); // add class to body

    // Close chat screen and overlay if open
    const openChatScreen = document.querySelector(".chat-screen.show");
    const openChatScreenOverlay = document.querySelector(
      ".chat-screen-overlay.show"
    );
    if (openChatScreen && openChatScreenOverlay) {
      openChatScreen.classList.remove("show");
      openChatScreenOverlay.classList.remove("show");
    }
  };
  menuButton?.addEventListener("click", toggleMenuClass);

  // Handle menu links click event
  const navItems = document.querySelectorAll(".mainnav__pagelinks a");
  for (let navItem of navItems) {
    navItem?.addEventListener("click", () => {
      mainnav?.classList.remove("on-mobile-open");
      document.body.classList.remove("no-scroll");
    });
  }
</script>

<style is:global>
  .container {
    max-width: var(--container-width);
    padding-left: var(--space-s);
    padding-right: var(--space-s);
    margin-left: auto;
    margin-right: auto;
    transition: all 200ms ease-in-out;
  }

  .header-not-at-top .container {
    max-width: 100%;
  }

  .mainnav {
    --mainnav__items-ol-li-display: none;
    --mainnav__menu-button-display: flex;

    padding: var(--space-2xs) 0;
    font-size: var(--step--1);
    font-variation-settings: var(--font-bold);
    position: relative;
    z-index: 100000;
  }

  @media screen and (min-width: 490px) {
    .mainnav {
      --mainnav__items-ol-li-display: block;
      --mainnav__menu-button-display: none;
    }
  }

  /* HANDLE MOBILE MENU */
  @media screen and (max-width: 490px) {
    .mainnav.on-mobile-open {
      --mainnav__items-ol-li-display: block;
    }

    .mainnav.on-mobile-open .mainnav__pagelinks {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color-primary);
      z-index: 998;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      font-size: var(--step-1);
      gap: var(--space-xl);
      transition: all 0.2s linear;
    }
  }

  @media screen and (min-width: 768px) {
    .mainnav {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  .blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -30px;
    background-color: rgb(from var(--color-primary) r g b / 0.2);
    mask-image: linear-gradient(black 40%, transparent 100%);
    backdrop-filter: blur(5px);
    z-index: -1;
  }

  .mainnav__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  .mainnav__items {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .mainnav__pagelinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--space-l);
    margin: 0;
    padding: 0;
  }

  .mainnav__items li {
    line-height: 1;
    display: var(--mainnav__items-ol-li-display);
    align-items: center;
    justify-content: center;
  }

  .mainnav__menu-button-container {
    display: var(--mainnav__menu-button-display);
    z-index: 999;
  }

  .mainnav__menu-button {
    border: none;
    padding: var(--space-2xs) var(--space-xs);
    background-color: var(--color-onPrimary);
    color: var(--color-primary);
  }

  .mainnav__menu-button:hover {
    cursor: pointer;
  }
</style>
