---
---

<style>
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.main-nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
}

.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  margin: 0 0.5rem;
}
</style>

<nav class=main-nav>
  <a href="/" class="logo">Michael Watts</a>
  <a href="#main" class="sr-only">Skip to main content</a>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>