---
import SocialLinks from "./SocialLinks.astro";

const currentYear = new Date().getFullYear();
---

<footer class="mainfooter container">
  <div>
    © Michael Watts, 2022 - {currentYear}
  </div>
  <SocialLinks />
</footer>
