---
import Avatar from "./Avatar.astro";
import NavItem from "./NavItem.astro";
import AiButton from "./NavItemAiButton.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav class="mainnav">
  <div class="blur-bg"></div>
  <div class="container">
    <div class="mainnav__content">
      <Avatar />
      <div class="mainnav__items">
        <ol class="mainnav__pagelinks">
          <li class="mainnav__menu-button">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-list"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
                ></path>
              </svg>
            </button>
          </li>
          <li>
            <NavItem href="/#work" isActive={currentPath === "works"}>
              Work
            </NavItem>
          </li>
          <li>
            <NavItem href="/#contact" isActive={currentPath === "contact"}>
              Contact
            </NavItem>
          </li>
          <li>
            <AiButton>Chat</AiButton>
          </li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<script>
  if (
    "IntersectionObserver" in window &&
    "IntersectionObserverEntry" in window &&
    "intersectionRatio" in window.IntersectionObserverEntry.prototype
  ) {
    const observer = new IntersectionObserver((entries) => {
      if (entries[0].boundingClientRect.y < 0) {
        document.body.classList.add("header-not-at-top");
      } else {
        document.body.classList.remove("header-not-at-top");
      }
    });
    const anchor = document.querySelector("#top-of-site-pixel-anchor");
    if (anchor) {
      observer.observe(anchor);
    }
  }
</script>

<style is:global>
  .container {
    max-width: var(--container-width);
    padding-left: var(--space-s);
    padding-right: var(--space-s);
    margin-left: auto;
    margin-right: auto;
    transition: all 200ms ease-in-out;
  }

  .header-not-at-top .container {
    max-width: 100%;
  }

  .mainnav {
    --height: 48px;
    --mainnav__items-ol-li-display: none;
    --mainnav__menu-button-display: flex;

    margin-bottom: var(--space-xl);
    padding: var(--space-2xs) 0;
    font-size: var(--step--1);
    font-variation-settings: var(--font-bold);
  }

  @media screen and (min-width: 490px) {
    .mainnav {
      --mainnav__items-ol-li-display: block;
      --mainnav__menu-button-display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .mainnav {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
    }
  }

  .blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -30px;
    background-color: rgb(from var(--color-primary) r g b / 0.2);
    mask-image: linear-gradient(black 40%, transparent 100%);
    backdrop-filter: blur(5px);
    z-index: -1;
  }

  .mainnav__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  .mainnav__items {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--space-2xs);
    margin-left: var(--space-2xs);
  }

  .mainnav__pagelinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--space-l);
    margin: 0;
    height: var(--height);
  }

  .mainnav__items li {
    line-height: 1;
    display: var(--mainnav__items-ol-li-display);
    align-items: center;
    justify-content: center;
  }

  /* RESPONSIVE */
  .mainnav__items ol li.mainnav__menu-button {
    display: var(--mainnav__menu-button-display);
    align-items: center;
    justify-content: center;
    height: var(--height);
    width: var(--height);
  }

  .mainnav__items ol li.mainnav__menu-button button {
    border: none;
    background: transparent;
    padding: 0;
  }

  .mainnav__items ol li.mainnav__menu-button svg {
    color: var(--color-primary);
    height: 26px;
    width: 26px;
  }
</style>
