---
import SiteLogo from "./SiteLogo.astro";
import NavItem from "./NavItem.astro";
import Button from "./CtaLink.astro";

const workLinks = [
  { label: "SaaS Platform Development", href: "/work/swiftaid" },
  {
    label: "Ecommerce & Payment Integrations",
    href: "/work/ecomm-sites",
  },
  {
    label: "Content Management Systems",
    href: "/work/saudi-fashion-retail",
  },
  { label: "Bespoke Web Applications", href: "/work/webapps" },
  { label: "Personal Projects", href: "/work/personal-work" },
  {
    label: "Custom Dashboards and Portals",
    href: "/work/split-payment-poc",
  },
  { label: "iOS & Android Native Apps", href: "/work/io-music" },
];
---

<nav class="mainnav container" transition:persist>
  <div class="content">
    <div class="mainnav__links">
      <NavItem href="/" className="md:hidden">Home</NavItem>
      <div class="mainnav__work-menu">
        <a href="/work/swiftaid" class="mainnav__work-trigger">Work</a>
        <div class="mainnav__work-dropdown">
          {workLinks.map(({ label, href }) => <a href={href}>{label}</a>)}
        </div>
      </div>
      <NavItem href="/about"> About </NavItem>
      <NavItem href="/contact"> Contact </NavItem>
    </div>
    <SiteLogo />
    <div class="mainnav__cta">
      <Button href="/contact" text="Let's Connect" />
    </div>
  </div>
</nav>

<script>
  if (
    "IntersectionObserver" in window &&
    "IntersectionObserverEntry" in window &&
    "intersectionRatio" in window.IntersectionObserverEntry.prototype
  ) {
    const observer = new IntersectionObserver((entries) => {
      if (entries[0].boundingClientRect.y < 0) {
        document.body.classList.add("header-not-at-top");
      } else {
        document.body.classList.remove("header-not-at-top");
      }
    });
    const anchor = document.querySelector("#top-of-site-pixel-anchor");
    if (anchor) {
      observer.observe(anchor);
    }
  }

  // Handle menu button click event
  const mainnav = document.querySelector(".mainnav");
  const menuButton = document.querySelector(".mainnav__menu-button");
  const toggleMenuClass = () => {
    mainnav?.classList.toggle("on-mobile-open"); // add class to wrapper
    document.body.classList.toggle("no-scroll"); // add class to body

    // Close chat screen and overlay if open
    const openChatScreen = document.querySelector(".chat-screen.show");
    const openChatScreenOverlay = document.querySelector(
      ".chat-screen-overlay.show"
    );
    if (openChatScreen && openChatScreenOverlay) {
      openChatScreen.classList.remove("show");
      openChatScreenOverlay.classList.remove("show");
    }
  };
  menuButton?.addEventListener("click", toggleMenuClass);
</script>
