---
import Avatar from "./Avatar.astro";
import NavItem from "./NavItem.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav role="banner">
  <div class="container">
    <div class="left">
      <Avatar />
      <ol role="navigation">
        <li class:list={[currentPath === "" ? "active" : null]}>
          <NavItem href="/" isActive={currentPath === ""}>Home</NavItem>
        </li>
        <li class:list={[currentPath === "work" ? "active" : null]}>
          <NavItem href="/work" isActive={currentPath === "work"}>Work</NavItem>
        </li>
      </ol>
    </div>
    <div class="right">Software Engineer</div>
  </div>
</nav>

<style>
  nav {
    border-bottom: 1px solid var(--color-border);
    margin-bottom: var(--space-10);
    padding: var(--space-2) 0;
  }

  @media (min-width: 768px) {
    nav {
      position: fixed;
      width: 100%;
      background-color: var(--color-background);
      top: 0;
      left: 0;
      z-index: 100;
      box-shadow: 0 2px 20px hsla(from var(--color-text), 0.5);
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    display: flex;
    align-items: center;
    gap: var(--space-12);
  }

  ol {
    list-style: none;
    display: flex;
    gap: var(--space-8);
    padding: 0;
    margin: 0;
  }

  li.active a {
    font-weight: bold;
    text-decoration: none;
  }
</style>
