---
import SiteLogo from "./SiteLogo.astro";
import NavItem from "./NavItem.astro";
import Button from "./CtaLink.astro";

const requestUrl = new URL(Astro.request.url);
const pathname = requestUrl.pathname;
const currentPath = pathname.slice(1);
---

<nav class="mainnav container" data-current-path={currentPath}>
  <div class="content">
    <div class="mainnav__links">
      <NavItem href="/#work" isActive={currentPath.includes("work")}>
        Work
      </NavItem>
      <NavItem href="/#services" isActive={currentPath === "services"}>
        Services
      </NavItem>
      <NavItem href="/about" isActive={currentPath === "about"}>
        About
      </NavItem>
    </div>
    <SiteLogo />
    <div class="mainnav__cta">
      <Button href="/contact" text="Let's Connect" />
    </div>
  </div>
</nav>

<script>
  if (
    "IntersectionObserver" in window &&
    "IntersectionObserverEntry" in window &&
    "intersectionRatio" in window.IntersectionObserverEntry.prototype
  ) {
    const observer = new IntersectionObserver((entries) => {
      if (entries[0].boundingClientRect.y < 0) {
        document.body.classList.add("header-not-at-top");
      } else {
        document.body.classList.remove("header-not-at-top");
      }
    });
    const anchor = document.querySelector("#top-of-site-pixel-anchor");
    if (anchor) {
      observer.observe(anchor);
    }
  }

  // Handle menu button click event
  const mainnav = document.querySelector(".mainnav");
  const menuButton = document.querySelector(".mainnav__menu-button");
  const toggleMenuClass = () => {
    mainnav?.classList.toggle("on-mobile-open"); // add class to wrapper
    document.body.classList.toggle("no-scroll"); // add class to body

    // Close chat screen and overlay if open
    const openChatScreen = document.querySelector(".chat-screen.show");
    const openChatScreenOverlay = document.querySelector(
      ".chat-screen-overlay.show"
    );
    if (openChatScreen && openChatScreenOverlay) {
      openChatScreen.classList.remove("show");
      openChatScreenOverlay.classList.remove("show");
    }
  };
  menuButton?.addEventListener("click", toggleMenuClass);
</script>
