---
import SiteLogo from "./SiteLogo.astro";
import NavItem from "./NavItem.astro";
import Button from "./GetInTouchButton.astro";

const requestUrl = new URL(Astro.request.url);
const pathname = requestUrl.pathname;
const currentPath = pathname.slice(1);
---

<nav class="mainnav" data-current-path={currentPath}>
  <div class="container">
    <div class="mainnav__content">
      <div class="mainnav__items">
        <div class="mainnav__menu-button-container">
          <button class="mainnav__menu-button">Menu</button>
        </div>
        <ol class="mainnav__pagelinks">
          <li>
            <NavItem href="/#work" isActive={currentPath.includes("work")}>
              Work
            </NavItem>
          </li>
          <li>
            <NavItem href="/#services" isActive={currentPath === "services"}>
              Services
            </NavItem>
          </li>
          <li>
            <NavItem href="/#about" isActive={currentPath === "about"}>
              About
            </NavItem>
          </li>
          <li></li>
        </ol>
      </div>
      <SiteLogo />
      <div class="mainnav__cta">
        <Button href="/#contact" text="Let's Connect" />
      </div>
    </div>
  </div>
</nav>

<script>
  console.log("!!");
  if (
    "IntersectionObserver" in window &&
    "IntersectionObserverEntry" in window &&
    "intersectionRatio" in window.IntersectionObserverEntry.prototype
  ) {
    const observer = new IntersectionObserver((entries) => {
      if (entries[0].boundingClientRect.y < 0) {
        document.body.classList.add("header-not-at-top");
      } else {
        document.body.classList.remove("header-not-at-top");
      }
    });
    const anchor = document.querySelector("#top-of-site-pixel-anchor");
    if (anchor) {
      observer.observe(anchor);
    }
  }

  // Handle menu button click event
  const mainnav = document.querySelector(".mainnav");
  const menuButton = document.querySelector(".mainnav__menu-button");
  const toggleMenuClass = () => {
    mainnav?.classList.toggle("on-mobile-open"); // add class to wrapper
    document.body.classList.toggle("no-scroll"); // add class to body

    // Close chat screen and overlay if open
    const openChatScreen = document.querySelector(".chat-screen.show");
    const openChatScreenOverlay = document.querySelector(
      ".chat-screen-overlay.show"
    );
    if (openChatScreen && openChatScreenOverlay) {
      openChatScreen.classList.remove("show");
      openChatScreenOverlay.classList.remove("show");
    }
  };
  menuButton?.addEventListener("click", toggleMenuClass);
</script>

<style is:global>
  .mainnav .container {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding: var(--space-2xs);
    transition: all 200ms ease-in-out;
  }

  .header-not-at-top .mainnav .container {
    max-width: 98.5%;
    padding: var(--space-xs);
    border: 1px solid
      color-mix(in oklab, var(--color-emphasis) 70%, transparent);
    border-top: none;
    backdrop-filter: blur(5px);
    border-radius: 0 0 4px 4px;
  }

  .mainnav {
    --mainnav__items-ol-li-display: none;
    --mainnav__cta-display: none;
    --mainnav__menu-button-display: flex;
    --mainnav__content-grid-cols: 1;
    --mainnav__items-justify-content: center;

    font-size: var(--step--1);
    font-variation-settings: var(--font-bold);
    position: relative;
    z-index: 100000;
  }

  @media screen and (min-width: 490px) {
    .mainnav {
      --mainnav__items-ol-li-display: block;
      --mainnav__menu-button-display: none;
      --mainnav__cta-display: flex;
      --mainnav__content-grid-cols: 2;
      --mainnav__items-justify-content: start;
    }
  }

  /* HANDLE MOBILE MENU */
  @media screen and (max-width: 490px) {
    .mainnav.on-mobile-open {
      --mainnav__items-ol-li-display: block;
    }

    .mainnav.on-mobile-open .mainnav__pagelinks {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color-primary);
      z-index: 998;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      font-size: var(--step-1);
      gap: var(--space-xl);
      transition: all 0.2s linear;
    }
  }

  @media screen and (min-width: 768px) {
    .mainnav {
      --mainnav__content-grid-cols: 3;

      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  .blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mask-image: linear-gradient(black 40%, transparent 100%);
    backdrop-filter: blur(5px);
    z-index: -1;
  }

  .mainnav__content {
    display: grid;
    grid-template-columns: repeat(var(--mainnav__content-grid-cols), 1fr);
    justify-content: space-between;
    align-items: center;
  }

  .mainnav__items {
    display: flex;
    align-items: center;
    justify-content: var(--mainnav__items-justify-content);
  }

  .mainnav__pagelinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--space-l);
    margin: 0;
    padding: 0;
  }

  .mainnav__items li {
    line-height: 1;
    display: var(--mainnav__items-ol-li-display);
    align-items: center;
    justify-content: center;
  }

  .mainnav__cta {
    display: var(--mainnav__cta-display);
    justify-content: end;
  }

  .mainnav__menu-button-container {
    display: var(--mainnav__menu-button-display);
    z-index: 999;
  }

  .mainnav__menu-button {
    border: none;
    padding: var(--space-2xs) var(--space-xs);
    background-color: var(--color-onPrimary);
    color: var(--color-primary);
  }

  .mainnav__menu-button:hover {
    cursor: pointer;
  }
</style>
