---
const { href, isActive } = Astro.props;
---

<a href={href} class:list={[isActive ? "active" : ""]}>
  <slot />
</a>

<style>
  a.active {
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 800;
    border-bottom: 2px solid var(--color-secondary);
  }
</style>
