---
const { href, isActive } = Astro.props;

const activeClassList = isActive
  ? "active text-brand-50 dark:text-brand-300 border-brand-500 dark:border-brand-300 border-b-2 rounded-none hover:bg-transparent"
  : "";
---

<a
  href={href}
  class:list={[activeClassList]}
  class="ms-12 rounded-xs prose dark:prose-invert uppercase text-xs font-semibold tracking-widest py-4 px-8 no-underline hover:no-underline transition-colors dark:text-brand-300 hover:text-brand-500 dark:hover:text-brand-200"
>
  <slot />
</a>
