---
const { href, isActive } = Astro.props;
---

<a href={href} class:list={[isActive ? "active" : ""]}>
  <slot />
</a>

<style>
  a {
    color: var(--color-primary);
    font-weight: 800;
  }

  a.active {
    text-decoration: none;
    color: var(--color-secondary);
  }

  a:hover {
    color: var(--color-secondary);
  }
</style>
