---
import Button from "./AnimatedButton.astro";
---

<div class="button-wrapper">
  <button>
    <slot />
  </button>
  <div class="button-bg"></div>
</div>

<div class="chat-screen">
  <div class="chat-screen-actions">
    <Button href="#close" text="Close" />
  </div>
  <iframe src="https://chat.michaelwatts.me"></iframe>
</div>

<div class="chat-screen-overlay"></div>

<script>
  import {
    themePrimary,
    themeOnPrimary,
    themeSecondary,
    themeEmphasis,
  } from "../store";

  const chatButton = document.querySelector(".button-wrapper");
  const chatScreenOverlay = document.querySelector(".chat-screen-overlay");
  const chatScreen = document.querySelector(".chat-screen");
  const chatScreenCloseButton = document.querySelector('[href="#close"]');
  const iframe = chatScreen?.querySelector("iframe");

  chatButton?.addEventListener("click", () => {
    chatScreen?.classList.add("show");
    chatScreenOverlay?.classList.add("show");
    document.documentElement.style.setProperty("--document-width", "50dvw");
  });

  function closeChatScreen(e: Event) {
    e.preventDefault();
    chatScreen?.classList.remove("show");
    chatScreenOverlay?.classList.remove("show");
    document.documentElement.style.removeProperty("--document-width");
  }

  chatScreenCloseButton?.addEventListener("click", closeChatScreen);
  chatScreenOverlay?.addEventListener("click", closeChatScreen);

  themePrimary.subscribe((color) => {
    iframe?.contentWindow?.postMessage(`--color-primary:${color}`, "*");
  });

  themeOnPrimary.subscribe((color) => {
    iframe?.contentWindow?.postMessage(`--color-onPrimary:${color}`, "*");
  });

  themeSecondary.subscribe((color) => {
    iframe?.contentWindow?.postMessage(`--color-secondary:${color}`, "*");
  });

  themeEmphasis.subscribe((color) => {
    iframe?.contentWindow?.postMessage(`--color-emphasis:${color}`, "*");
  });
</script>

<style>
  .button-wrapper {
    --button-color: var(--color-onPrimary);

    position: relative;
  }

  .button-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(
      90deg,
      #ff8038 0%,
      #ff0099 30.43%,
      #00ebeb 68.23%,
      #db00ff 100%
    );
    background-size: 600% 600%;
    animation: AnimateBorder 4s ease infinite;
    z-index: -1;
    transform: translate(-2px, -2px);
    transition: filter 1s ease-in;
    border-radius: 0;
    opacity: 0.5;
  }

  .button-wrapper:hover .button-bg {
    filter: blur(10px);
    transition: filter 0.4s ease-in;
  }

  button {
    color: var(--color-primary);
    font-weight: 800;
    display: block;
    padding: 16px 32px;
    background-color: var(--color-emphasis);
    cursor: pointer;
    white-space: nowrap;
    transition: color 1s ease;
    border: 0;
    border-radius: 0;
  }

  button:hover,
  button:focus,
  button:active {
    animation: animatedTextColor 4s ease infinite;
    background-color: oklab(from var(--color-emphasis) calc(l - 0.1) a b / 0.8);
  }

  @keyframes AnimateBorder {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes animatedTextColor {
    0% {
      color: #ffd9c3;
    }
    33% {
      color: #ffb7e2;
    }
    66% {
      color: #beffff;
    }
    100% {
      color: #f9cfff;
    }
  }

  .chat-screen-overlay {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99998;
    background-color: oklab(from var(--color-primary) calc(l - 0.05) a b / 0.5);
    backdrop-filter: blur(4px);
  }

  .chat-screen-overlay.show {
    display: block;
  }

  .chat-screen {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    z-index: 99999;
    height: 100dvh;
    width: var(--chat-screen-width, 100dvw);
    padding: var(--space-8);
    background-color: oklab(
      from var(--color-primary) calc(l - 0.05) a b / 0.95
    );
    box-shadow:
      -1px 0 oklab(from var(--color-onPrimary) l a b / 0.1),
      0 0 130px oklab(from var(--color-onPrimary) l a b / 0.4);
    align-items: end;
    justify-content: start;
    flex-direction: column;
    gap: var(--space-8);
  }

  @media screen and (min-width: 860px) {
    .chat-screen {
      --chat-screen-width: 50dvw;
    }
  }

  @media screen and (min-width: 1060px) {
    .chat-screen {
      --chat-screen-width: 600px;
    }
  }

  .chat-screen.show {
    display: flex;
  }

  .chat-screen-actions {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }

  .chat-screen iframe {
    border: none;
    width: 100%;
    height: 100%;
  }

  .chat-screen-close-button {
    color: var(--color-primary);
    background-color: var(--color-emphasis);
    font-size: var(--font-size-xs);
  }

  .chat-screen-close-button:hover {
    background-color: oklab(from var(--color-emphasis) calc(l - 0.1) a b);
    animation: none;
  }
</style>
