---
const { href, isActive, className } = Astro.props;
---

<a href={href} class:list={[isActive ? "active" : "", className]}>
  <slot />
</a>

<style>
  a {
    color: var(--color-onPrimary);
    font-weight: 800;
  }

  a:hover,
  a:focus,
  a:active {
    opacity: 0.8;
  }

  a.active {
    color: var(--color-emphasis) !important;
  }
</style>
