---
const { href, isActive } = Astro.props;
---

<a href={href} class:list={[isActive ? "active" : ""]}>
  <slot />
</a>

<style>
  a {
    color: var(--color-onPrimary);
    font-weight: 800;
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--color-secondary);
  }
</style>
