<h1 class="page-title">
  <slot />
</h1>

<style>
  .page-title {
    line-height: 1.1;
    font-family: var(--body-font);
    font-variation-settings: var(--font-bold);
    font-weight: 700;
    text-wrap: pretty;
  }
</style>
