---
---

<section>
  <h1>Michael Watts <small>Location UK</small></h1>
  <p><strong>Senior Software Engineer @ Streeva Ltd.</strong> Current project is Swiftaid, making Gift Aid easier for everyone, where the goal is to get an additional £1bn in tax relief for charities and individuals.</p>
  <p>
    I have built web applications and bespoke business tools and applications for over 20 years.
  </p>
</section>