---
import { Image } from "astro:assets";

const { image, title, description, link } = Astro.props;
---

<a class="preview" href={link}>
  <div class="preview__image-container">
    <div class="preview__image-wrapper">
      <Image
        src={image}
        alt="Preview of work image."
        quality={100}
        loading="eager"
        class="preview__image"
      />
    </div>
  </div>
  <div class="preview__body">
    <h3 class="preview__title">{title}</h3>
    <div>
      {description}
      <strong style="color:var(--color-onPrimary);">...More</strong>
    </div>
  </div>
</a>

<style>
  .preview {
    display: grid;
    gap: var(--space-m);
    padding: var(--space-xs);
    background-color: oklab(from var(--color-primary) l a b / 0.4);
    height: 100%;
    width: clamp(250px, 100%, 780px);
    position: relative;
    color: var(--text-color);
    transition: all 200ms ease-in-out;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    border-radius: 5px;
    box-shadow:
      0 0 3px rgba(0, 0, 0, 0.2) inset,
      0 0 1px rgba(0, 0, 0, 0.1),
      0 0 0 8px oklab(from var(--color-emphasis) calc(l * 1.1) calc(a * 1.5) b),
      0 0 26px rgba(0, 0, 0, 0.5);
  }

  .preview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: all 200ms ease-in-out;
  }

  .preview__image-container {
    background-color: oklab(from var(--color-primary) l a b / 0.4);
    box-shadow:
      0 0 0 1px oklab(from var(--color-emphasis) calc(l * 0.95) a b) inset,
      0 0 10px oklab(from var(--color-emphasis) calc(l * 0.95) a b) inset;
    position: relative;
    height: 200px;
    max-width: 600px;
    grid-column: 1 / span 7;
    grid-row: 1;
  }

  .preview__image-wrapper {
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 1px;
    overflow: hidden;
    z-index: 1;
    transition: all 200ms ease-in-out;
  }

  .preview__image {
    height: auto;
    max-height: 400px;
    transition: all 200ms ease-in-out;
    transform-origin: bottom left;
    width: auto;
  }

  .preview__body {
    display: flex;
    gap: var(--space-2xs);
    flex-direction: column;
    font-size: var(--step--1);
    grid-column: 8 / span 5;
    grid-row: 1;
  }

  .preview__title {
    font-size: var(--step-0);
  }

  .preview:hover .preview__image {
    transform: rotateZ(2deg) scale(1.05) translateX(-6px);
  }
</style>
