---
import { Image } from "astro:assets";

const { image, title, description, link } = Astro.props;
---

<a class="preview" href={link}>
  <div class="preview__image-container">
    <div class="preview__image-wrapper">
      <Image
        src={image}
        alt="Preview of work image."
        quality={100}
        loading="eager"
        class="preview__image"
      />
    </div>
  </div>
  <div class="preview__body">
    <h3 class="preview__title">{title}</h3>
    <div>
      {description}
      <strong style="color:var(--color-emphasis);">...More</strong>
    </div>
  </div>
</a>

<style>
  .preview {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    padding: var(--space-4);
    background-color: var(--color-primary);
    height: 100%;
    width: clamp(250px, 100%, 440px);
    position: relative;
    color: var(--text-color);

    transition: all 200ms ease-in-out;
  }

  .preview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: all 200ms ease-in-out;
  }

  .preview__image-container {
    background-color: oklab(from var(--color-onPrimary) l a b / 0.2);
    position: relative;
    height: 190px;
  }

  .preview__image-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    transition: all 200ms ease-in-out;
  }

  .preview__image {
    height: auto;
    transition: all 200ms ease-in-out;
    transform-origin: bottom left;
    max-height: 250px;
  }

  .preview__body {
    display: flex;
    gap: var(--space-2);
    margin-bottom: var(--space-2);
    flex-direction: column;
    font-size: var(--font-size-sm);
  }

  .preview__title {
    font-size: var(--font-size-lg);
  }

  .preview:hover .preview__image {
    transform: rotateZ(2deg) scale(1.05) translateX(-5px);
  }
</style>
