---
import { getCollection } from "astro:content";
import AsideBlogListItem from "../components/AsideBlogListItem.astro";

const { classList } = Astro.props;

const allPosts = await getCollection("posts");
const publishedPosts = allPosts
  .filter((post) => post.data.draft !== true)
  .sort(
    (a, b) =>
      (new Date(b.data.pubDate) as any) - (new Date(a.data.pubDate) as any)
  );
---

<aside class:list={[classList]}>
  <a href="#main">Skip to main content</a>

  <ul id="menu-list" role="navigation">
    {
      publishedPosts.map((post) => (
        <AsideBlogListItem
          url={`/posts/${post.slug}/`}
          title={post.data.title}
          date={post.data.pubDate}
        />
      ))
    }
  </ul>
</aside>
