---
import { getCollection } from "astro:content";
import MainNav from "../components/MainNav.astro";
import BlogPost from "../components/BlogPost.astro";
import Avatar from "../components/Avatar.astro";

const allPosts = await getCollection("posts");
const publishedPosts = allPosts
  .filter((post) => post.data.draft !== true)
  .sort(
    (a, b) =>
      (new Date(b.data.pubDate) as any) - (new Date(a.data.pubDate) as any)
  );
---

<aside class="md:col-span-2 md:p-5">
  <header
    class="main-nav flex justify-between items-center py-5 px-5 md:px-0 md:pb-10"
    role="banner"
  >
    <Avatar />

    <a
      href="#main"
      class="sr-only ml-3 px-2 focus:static focus:w-auto focus:h-auto focus:overflow-visible"
      >Skip to main content</a
    >

    <MainNav classList="flex md:hidden px-4 md:px-16" />
  </header>

  <div
    id="show-menu-button"
    class="prose dark:prose-invert mx-auto flex flex-col items-center p-4 md:hidden cursor-pointer"
  >
    <button>Show posts</button>
  </div>
  <ul
    id="menu-list"
    class="list-none m-0 hidden flex-col items-center md:block p-4 pe-12"
  >
    {
      publishedPosts.map((post) => (
        <BlogPost
          url={`/posts/${post.slug}/`}
          title={post.data.title}
          date={post.data.pubDate}
        />
      ))
    }
  </ul>
</aside>

<script>
  const showMenuButton = document.getElementById("show-menu-button");
  enum MenuText {
    Show = "Show posts menu",
    Hide = "Hide posts menu",
  }

  if (showMenuButton) {
    showMenuButton.innerText = MenuText.Show;
  }

  showMenuButton?.addEventListener("click", (e) => {
    e.preventDefault();
    const menu = document.getElementById("menu-list");
    menu?.classList.toggle("hidden");
    menu?.classList.toggle("flex");

    if (menu?.classList.contains("hidden")) {
      showMenuButton.innerText = MenuText.Show;
    } else {
      showMenuButton.innerText = MenuText.Hide;
    }
  });
</script>
