<ul>
  <li>
    <a
      href="https://github.com/mj-watts"
      aria-label="GitHub link"
      title="View my public GitHub repos"
      class="group"
    >
      <svg
        width="22"
        height="19"
        viewBox="0 0 22 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.34192 11.6843C7.34192 11.1314 7.79003 10.6831 8.34309 10.6831C8.89599 10.6831 9.34429 11.1314 9.34429 11.6843V13.6814C9.34429 14.2343 8.89619 14.6826 8.34309 14.6826C7.79003 14.6826 7.34192 14.2343 7.34192 13.6814V11.6843ZM14.0164 11.6843C14.0164 11.1314 13.5683 10.6831 13.0152 10.6831C12.4619 10.6831 12.0141 11.1316 12.0141 11.6843V13.6814C12.0141 14.2343 12.4622 14.6826 13.0152 14.6826C13.5683 14.6826 14.0164 14.2343 14.0164 13.6814V11.6843ZM10.6792 1.22784C9.83379 0.00946331 8.08107 -0.0809765 6.73379 0.0397735C5.19032 0.194574 3.89062 0.725143 3.15995 1.50453C1.89219 2.88978 1.8332 5.79537 2.44492 7.39509C2.38346 7.66849 2.32486 7.94549 2.28262 8.23869C1.15259 8.53639 0 10.1373 0 11.2821V13.4447C0 14.0451 0.28028 14.5923 0.77435 14.9661C3.59829 17.0646 7.11868 18.6902 10.6792 18.6902C14.2396 18.6902 17.76 17.0646 20.584 14.9661C21.078 14.5923 21.3583 14.0451 21.3583 13.4447V11.2821C21.3583 10.1373 20.2058 8.53639 19.0757 8.23869C19.0336 7.94549 18.975 7.66849 18.9135 7.39509C19.5251 5.79537 19.4661 2.88978 18.1984 1.50453C17.4677 0.725143 16.168 0.194574 14.6246 0.0397735C13.2773 -0.0809765 11.5246 0.00946331 10.6792 1.22784ZM17.3537 14.6876C15.8187 15.5417 13.2688 16.6881 10.6792 16.6881C8.08955 16.6881 5.53969 15.5417 4.00469 14.6876V8.88919C6.48155 9.84859 9.33189 9.35389 10.6772 7.1314H10.6811C12.0265 9.35389 14.8768 9.84859 17.3537 8.88919V14.6876ZM9.34429 4.02914C9.34429 5.61433 8.86449 7.34029 6.67448 7.34029C4.48443 7.34029 4.06727 6.81593 4.06727 5.34334C4.06727 3.00728 4.42379 2.00757 7.38365 2.00757C9.09399 2.00757 9.34429 2.55655 9.34429 4.02914ZM12.0141 4.02914C12.0141 2.55655 12.2644 2.00757 13.9748 2.00757C16.9345 2.00757 17.2911 3.00728 17.2911 5.34334C17.2911 6.81593 16.8739 7.34029 14.6839 7.34029C12.4938 7.34029 12.0141 5.61433 12.0141 4.02914Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://codepen.io/mj-watts"
      aria-label="Codepen link"
      title="Visit my Codepen profile"
      class="group"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 8.2018L7.30278 10L10 11.7982L12.6972 10L10 8.2018ZM14.5 8.7982L17.1972 7L11 2.86852V6.46482L14.5 8.7982ZM18 8.8685L16.3028 10L18 11.1315V8.8685ZM14.5 11.2018L11 13.5352V17.1315L17.1972 13L14.5 11.2018ZM9 6.46482V2.86852L2.80278 7L5.5 8.7982L9 6.46482ZM2.80278 13L9 17.1315V13.5352L5.5 11.2018L2.80278 13ZM3.69722 10L2 8.8685V11.1315L3.69722 10ZM0 7C0 6.66565 0.1671 6.35342 0.4453 6.16795L9.4453 0.167948C9.7812 -0.0559825 10.2188 -0.0559825 10.5547 0.167948L19.5547 6.16795C19.8329 6.35342 20 6.66565 20 7V13C20 13.3344 19.8329 13.6466 19.5547 13.8321L10.5547 19.8321C10.2188 20.056 9.7812 20.056 9.4453 19.8321L0.4453 13.8321C0.1671 13.6466 0 13.3344 0 13V7Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/mwattsweb/"
      aria-label="LinkedIn link"
      title="Visit my LinkedIn profile"
      class="group"
    >
      <svg
        width="20"
        height="18"
        viewBox="0 0 20 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.00005 2.00091C3.99968 2.81522 3.50565 3.548 2.75091 3.85371C1.99617 4.15943 1.13144 3.97703 0.56447 3.39253C-0.00250006 2.80802 -0.15848 1.93813 0.17007 1.19305C0.49863 0.447966 1.24611 -0.023524 2.06005 0.000905952C3.14112 0.033356 4.00054 0.919346 4.00005 2.00091ZM4.06005 5.48091H0.0600499V18.0009H4.06005V5.48091ZM10.3801 5.48091H6.40005V18.0009H10.3401V11.4309C10.3401 7.77088 15.1101 7.43088 15.1101 11.4309V18.0009H19.0601V10.0709C19.0601 3.90091 12.0001 4.13091 10.3401 7.16088L10.3801 5.48091Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </li>
</ul>
