---
---

<style>
  div {
    background-color: rgba(var(--warning-color-rgb), 0.2);
    border: 1px solid var(--warning-color);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
  }
</style>

<div>
  <slot />
</div>