---
import BlankLayout from "../../layouts/BlankLayout.astro";
import Card from "../../components/experience/Card.astro";
import CardContent from "../../components/experience/CardContent.astro";
import ViewWork from "../../components/experience/ViewWork.astro";

const pageTitle = "Experience freelancing";
---

<BlankLayout pageTitle={pageTitle}>
  <Card name="swmsw">
    <CardContent
      slug="freelance"
      date="Jul 2011 - Oct 2012"
      title="Web Developer"
      companyName="Freelance"
      description="A range of clients and experience."
      sectors="Marketing • Apps • Portals • Websites"
      tagsList="JavaScript,PHP,Wireframing,Photoshop"
    >
      <p>
        Developed a cost-effective web app for British Athletics, replacing a
        planned native iPad app for the 2012 Olympics.
      </p>

      <p>
        Led frontend development using a custom JavaScript framework, resulting
        in widely recognized and praised app effectiveness.
      </p>

      <p>
        Designed British Showjumping's Canter Banter website, a specialized news
        platform for the showjumping community.
      </p>

      <p>
        Contributed to various web and print projects for prestigious clients
        such as IBM, UK Sport, British Showjumping, and Philips.
      </p>

      <ViewWork />
    </CardContent>
  </Card>
</BlankLayout>
