---
import BlankLayout from "../../layouts/BlankLayout.astro";
import Card from "../../components/experience/Card.astro";
import CardContent from "../../components/experience/CardContent.astro";
import ViewWork from "../../components/experience/ViewWork.astro";

const pageTitle = "Experience freelancing";
---

<BlankLayout pageTitle={pageTitle}>
  <Card name="swmsw">
    <CardContent
      slug="freelance"
      date="Jul 2011 - Oct 2012"
      title="Web Developer"
      companyName="Freelance"
      description="A range of clients and experience."
      sectors="Marketing • Apps • Portals • Websites"
      tagsList="JavaScript,PHP,Wireframing,Photoshop"
    >
      <p>
        Proposed and built a cost-effective web app for British Athletics,
        replacing a native iPad app planned for the 2012 Olympics.

        <p>
          Led frontend development with a custom JavaScript framework; the app
          was widely used and praised for its effectiveness.
        </p>

        <p>
          Wireframed and designed British Showjumping’s Canter Banter website, a
          dedicated news platform for the showjumping community.
        </p>

        <p>
          Also contributed to web and print projects for high-profile clients
          including IBM, UK Sport, British Showjumping, and Philips.
        </p>

        <ViewWork />
      </p>
    </CardContent>
  </Card>
</BlankLayout>
