---
const { name } = Astro.props;
---

<div class="card">
  <slot />
</div>

<style is:global>
  .card {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    height: 100dvh;
  }
</style>
