<!DOCTYPE html>
<html>
<!--
               How do!
         |"|    /
        _|_|_  /
        (o o)
----ooO--(_)--Ooo-----

-->
<head>
{% include head.html %}
</head>

<body class="home-template">

<div id="container" class="container {{ page.effect }}" role="main">

    {% include main-nav.html %}

    <div class="aside sticky-aside">
        <header style="background-image: url(/images/{{ page.coverimage }}); bottom: 0;"></header>
    </div>

    <article class="content {% if page.imagefeature == %}clear-nav{% endif %}">
        <div class="single-column">
            <div class="body-content">
                {{ content }}
            </div>
        </div>
    </article>

</div>

{% include scripts.html %}

</body>
</html>