<!DOCTYPE html>
<html>
<!--
               How do!
         |"|    /
        _|_|_  /
        (o o)
----ooO--(_)--Ooo-----

-->
<head>
{% include head.html %}
</head>

<body class="home-template">

<div id="container" class="container {{ page.effect }}" role="main">

    {% include main-nav.html %}

    <div class="aside sticky-aside">
        <header style="background-image: url(/images/{{ page.coverimage }})"></header>
        <article>
            <ul class="links inline-list">
                <li><a href="#">LINK ONE</a></li>
                <li><a href="#">LINK TWO</a></li>
                <li><a href="#">LINK THREE</a></li>
            </ul>
            <div class="inner">
                <div>
                    <h1>Some heading here</h1>
                    <p>Between the dinosaur fossil safaris, triple loop rollercoasters, long rides on real steam trains and big soft sandy beaches, kid-fun adventures are right around the corner. These holidays will get the whole family talking about their cool Alberta experiences all year.</p>
                    <p>Between the dinosaur fossil safaris, triple loop rollercoasters, long rides on real steam trains and big soft sandy beaches, kid-fun adventures are right around the corner. These holidays will get the whole family talking about their cool Alberta experiences all year.</p>
                    <p>Between the dinosaur fossil safaris, triple loop rollercoasters, long rides on real steam trains and big soft sandy beaches, kid-fun adventures are right around the corner. These holidays will get the whole family talking about their cool Alberta experiences all year.</p>
                </div>
            </div>
        </article>
        {% include footer.html %}
    </div>

    <article class="content {% if page.imagefeature == %}clear-nav{% endif %}">
        <div class="single-column">
            <div class="body-content">
                {{ content }}
            </div>
        </div>
    </article>

</div>

{% include scripts.html %}

</body>
</html>