<span class="icon-container">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16px"
    height="16px"
    viewBox="0 0 16 16"
    class="icon"
    stroke="currentColor"
  >
    <g class="icon__arrow">
      <line x1="3" x2="12" y1="8" y2="8"></line>
      <g class="icon__arrowhead">
        <line x1="14" x2="8" y1="8" y2="3"></line>
        <line x1="14" x2="8" y1="8" y2="13"></line>
      </g>
    </g>
  </svg>
</span>
