<h1 class="title">
  Michael Watts
  <span class="title__partial">Software Engineer</span>
</h1>

<script>
  // import { animate, splitText, stagger, random } from "animejs";

  // const { chars } = splitText("h1", { words: false, chars: true });

  // const animation = animate(chars, {
  //   scale: [
  //     { to: 1.2, ease: "inExpo", duration: 3000 },
  //     { to: 0.8, ease: "inExpo", duration: 400 },
  //     { to: 1, ease: "outExpo", duration: 400 },
  //   ],
  //   delay: stagger(10),
  //   ease: "inOutCirc",
  //   loop: true,
  //   autoplay: false,
  // });

  // const observer = new IntersectionObserver(
  //   (entries) => {
  //     entries.forEach((entry) => {
  //       if (entry.isIntersecting) {
  //         animation.play();
  //       } else {
  //         animation.pause();
  //       }
  //     });
  //   },
  //   { threshold: 0.1 }
  // );

  // const heroSection = document.querySelector("#hero");
  // if (heroSection) {
  //   observer.observe(heroSection);
  // }
</script>

<style>
  .title {
    font-size: clamp(
      var(--font-size-lg),
      calc(10vw + 1rem),
      var(--font-size-4xl)
    );
    text-align: center;
    color: var(--color-secondary);
    line-height: 1;
  }

  .title__partial {
    display: block;
    color: var(--color-onPrimary);
  }
</style>
