<h1 class="title">
  Michael Watts
  <span class="title__partial">Software Engineer</span>
</h1>

<script>
  import { animate, scroll } from "motion";

  const animation = animate(
    ".title",
    {
      transform: ["translateY(0) scale(1)", "translateY(4000px) scale(0.9)"],
      opacity: [1, 0, 0, 0],
      filter: ["blur(0)", "blur(50px)"],
    },
    { ease: "linear" }
  );

  scroll(animation, { offset: ["start end", "end end"]});
</script>

<style>
  .title {
    font-size: clamp(
      var(--font-size-lg),
      calc(10vw + 1rem),
      var(--font-size-4xl)
    );
    text-align: center;
    color: var(--color-secondary);
    line-height: 1;
  }

  .title__partial {
    display: block;
    color: var(--color-onPrimary);
  }
</style>
