<h1 class="title">
  Michael Watts
  <span class="title__partial">Software Engineer</span>
</h1>

<script>
  import { animate, easings, splitText, stagger } from "animejs";

  if (
    "IntersectionObserver" in window &&
    "IntersectionObserverEntry" in window &&
    "intersectionRatio" in window.IntersectionObserverEntry.prototype
  ) {
    const section = document.querySelector(".title");
    const { chars } = splitText(".title", {
      chars: { wrap: "clip" },
    });

    const handleScroll = () => {
      const scrollY = window.scrollY;
      const maxScroll = 500;
      const opacity = Math.max(0, 1 - scrollY / maxScroll);
      const translateY = Math.max(0, scrollY * 1.2);

      if (section) {
        animate(chars, {
          opacity,
          delay: stagger(50),
        });
      }
    };

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            window.addEventListener("scroll", handleScroll);
          } else {
            window.removeEventListener("scroll", handleScroll, false);
          }
        });
      },
      { threshold: 0.2 }
    );

    if (section) {
      observer.observe(section);
    }
  }
</script>

<style>
  .title {
    font-size: clamp(
      var(--font-size-lg),
      calc(10vw + 1rem),
      var(--font-size-4xl)
    );
    text-align: center;
    color: var(--color-secondary);
    line-height: 1;
  }

  .title__partial {
    display: block;
    color: var(--color-onPrimary);
  }
</style>
