---
import { Image } from "astro:assets";
import Container from "../../components/Container.astro";
import heroImage from "../../images/hero-illustration.png";
import animatedHeroImage from "../../images/hero-illustration.gif";
// import ChangingWord from "../../components/ChangingWord";
---

<div class="hero-container">
  <Container>
    <div class="hero-content-wrapper">
      <div class="title">
        <h2 class="title__partial title__partial--first">
          Guided by Curiosity & Inspired by Discovery...
        </h2>
        <span class="title__partial title__partial--second">
          I’m a creative software engineer who thrives on delivering outstanding
          digital solutions.
        </span>
      </div>
      <div>
        <Image
          src={animatedHeroImage}
          alt="Illustration of developer."
          quality={100}
          loading="eager"
          class="hero-image"
        />
      </div>
    </div>
  </Container>
</div>

<style>
  .hero-container {
    height: 90dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .hero-content-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .hero-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    mix-blend-mode: multiply;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    font-size: 48px;
    color: var(--color-secondary);
    line-height: 1.1;
    text-align: center;
  }

  .title__partial {
    display: block;
  }

  .title__partial--first {
    color: var(--color-onPrimary);
    text-wrap: balance;
    line-height: 1;
    font-weight: 700;
    font-size: 65px;
  }

  .title__partial--second {
    color: var(--color-onPrimary);
    font-size: 24px;
    line-height: 1.6;
    text-wrap: balance;
  }

  @media screen and (min-width: 1000px) {
    .hero-content-wrapper {
      flex-direction: row;
    }

    .title {
      text-align: left;
    }

    .hero-image {
      min-width: 400px;
    }
  }

  @media screen and (min-width: 1200px) {
    .hero-image {
      min-width: 600px;
    }
  }
</style>
