<div class="skills">
  <div class="skills__column" style="--idx:0">
    <h2 class="skills__title">Languages</h2>
    <div class="skills__skill" style="--idx:0">JavaScript</div>
    <div class="skills__skill" style="--idx:1">TypeScript</div>
    <div class="skills__skill" style="--idx:2">C#</div>
    <div class="skills__skill" style="--idx:3">Ruby</div>
  </div>
  <div class="skills__column" style="--idx:1">
    <h2 class="skills__title">Frontend</h2>
    <div class="skills__skill" style="--idx:0">React</div>
    <div class="skills__skill" style="--idx:1">Vue</div>
    <div class="skills__skill" style="--idx:2">Tailwind</div>
    <div class="skills__skill" style="--idx:3">Vite</div>
  </div>
  <div class="skills__column" style="--idx:2">
    <h2 class="skills__title">Backend</h2>
    <div class="skills__skill" style="--idx:0">Node</div>
    <div class="skills__skill" style="--idx:1">Deno</div>
    <div class="skills__skill" style="--idx:2">RoR</div>
    <div class="skills__skill" style="--idx:3">.NET</div>
  </div>
  <div class="skills__column" style="--idx:3">
    <h2 class="skills__title">Other</h2>
    <div class="skills__skill" style="--idx:0">AWS</div>
    <div class="skills__skill" style="--idx:1">Azure</div>
    <div class="skills__skill" style="--idx:2">GCP</div>
    <div class="skills__skill" style="--idx:3">NoSQL</div>
  </div>
</div>

<script>
  import { inView } from "motion";

  inView(".skills__column", (element) => {
    element.setAttribute("inview", "");
    return () => {
      element.removeAttribute("inview");
    };
  });
</script>

<style>
  .skills {
    --grid-template-columns: 1fr;
    --font-size-clamp-max: var(--font-size-xl);
  }

  @media screen and (min-width: 490px) {
    .skills {
      --grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 770px) {
    .skills {
      --grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (min-width: 1280px) {
    .skills {
      --grid-template-columns: repeat(4, 1fr);
      --font-size-clamp-max: var(--font-size-2xl);
    }
  }

  .skills {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: var(--space-12);
  }

  .skills__title {
    font-size: var(--font-size-lg);
    color: var(--color-secondary);
    text-align: center;
  }

  .skills__column {
    transition: all 1s var(--ease-out-elastic);
    opacity: 0;
    transform: translateY(50px);
    scale: 0.6;
    transition-delay: calc(var(--idx) * 100ms);
  }

  .skills__column[inview] {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }

  .skills__skill {
    font-size: clamp(
      var(--font-size-lg),
      calc(3vw + 1rem),
      calc(var(--font-size-clamp-max) / 2)
    );
    font-variation-settings: var(--font-bold);
    color: var(--color-onPrimary);
    text-align: center;
    transition: all 1s var(--ease-out-elastic);
    opacity: 0;
    transform: translateX(50px);
    transition-delay: calc(var(--idx) * 100ms);
  }

  .skills__column[inview] .skills__skill {
    opacity: 1;
    transform: translateX(0);
  }
</style>
