---
import PostLayout from "../layouts/PostLayout.astro";
import MainNav from "../components/MainNav.astro";
import MainFooter from "../components/Footer.astro";

const { frontmatter } = Astro.props;
const { wip, description } = frontmatter;
---

<PostLayout
  pageTitle={frontmatter.title}
  pageDescription={description}
  sidebar={true}
>
  <div class="prose dark:prose-invert prose-2xl mt-72 font-serif">
    <h1
      class="text-brand-50 md:text-7xl md:leading-72 font-black md:font-display text-balance"
    >
      {frontmatter.title}
    </h1>

    <slot />

    <MainFooter classList="mt-12 pt-6 pb-2 px-8" />
  </div>
</PostLayout>

<script>
  const webComponentsJS = await import.meta.glob("../web-components/**/*.ts", {
    eager: true,
  });
</script>

<script>
  const codeFigures = document.querySelectorAll(
    "figure[data-rehype-pretty-code-figure]"
  );

  codeFigures.forEach((figure) => {
    const pre = figure.querySelector("pre");
    if (pre) {
      const lang = pre.dataset.language;

      if (!lang) return;

      const div = document.createElement("div");
      div.textContent = lang ?? "";
      div.classList.add("language-tag");
      div.classList.add(lang.toLowerCase().replace(" ", "-"));
      figure.prepend(div);
    }
  });
</script>
