---
import PostLayout from "../layouts/PostLayout.astro";

const { frontmatter } = Astro.props;
const { description } = frontmatter;
---

<PostLayout
  pageTitle={frontmatter.title}
  pageDescription={description}
  sidebar={true}
>
  <div>
    <h1>
      {frontmatter.title}
    </h1>

    <slot />
  </div>
</PostLayout>

<script>
  const webComponentsJS = await import.meta.glob("../web-components/**/*.ts", {
    eager: true,
  });
</script>

<script>
  const codeFigures = document.querySelectorAll(
    "figure[data-rehype-pretty-code-figure]"
  );

  codeFigures.forEach((figure) => {
    const pre = figure.querySelector("pre");
    if (pre) {
      const lang = pre.dataset.language;

      if (!lang) return;

      const div = document.createElement("div");
      div.textContent = lang ?? "";
      div.classList.add("language-tag");
      div.classList.add(lang.toLowerCase().replace(" ", "-"));
      figure.prepend(div);
    }
  });
</script>
