---
import BaseLayout from "../layouts/BaseLayout.astro";
import StatusPanel from "../components/StatusPanel.astro";

const { frontmatter } = Astro.props;
const { wip } = frontmatter;
---

<BaseLayout pageTitle={frontmatter.title} sidebar={true}>
  <h1 class="text-brand-500 pt-9">
    {frontmatter.title}
  </h1>

  {wip && <StatusPanel>Work in progress...</StatusPanel>}

  <slot />
</BaseLayout>
