---
import PostLayout from "../layouts/PostLayout.astro";
import PageTitle from "../components/PageTitle.astro";

const { frontmatter } = Astro.props;
const { description } = frontmatter;
---

<PostLayout pageTitle={frontmatter.title} pageDescription={description}>
  <div>
    <PageTitle>{frontmatter.title}</PageTitle>
    <slot />
  </div>
</PostLayout>

<script>
  const webComponentsJS = await import.meta.glob("../web-components/**/*.ts", {
    eager: true,
  });
</script>
