---
import MainNav from "../components/MainNav.astro";
import Sidebar from "../components/Sidebar.astro";
import MainFooter from "../components/Footer.astro";
import "../styles/styles.css";

const mainTitle = "Michael Watts, Software Engineer";
const { pageTitle, pageDescription } = Astro.props;
---

<html lang="en" class="dark border-r">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{mainTitle} | {pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="stylesheet" href="https://use.typekit.net/eaq6veo.css" />
    <script
      data-collect-dnt="true"
      async
      src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </head>
  <body class="md:grid md:grid-cols-4 gap-1">
    <Sidebar classList="hidden lg:block md:col-span-1" />

    <main
      id="main"
      role="main"
      class="px-5 pb-4 text-pretty md:col-span-3 bg-brand-900"
    >
      <MainNav classList="mt-8" />

      <hr class="mt-8 mb-8 -ms-5 -me-5" />

      <slot />

      <MainFooter
        classList="mt-12 -ms-10 -me-5 pt-6 pb-2 px-8 border-t-1 border-brand-950"
      />
    </main>
  </body>
</html>
