---
import MainNav from "../components/MainNav.astro";
import "../styles/styles.css";

const mainTitle = "Michael Watts, Software Engineer";
const { pageTitle, pageDescription } = Astro.props;
---

<html lang="en" class="dark border-r">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{mainTitle} | {pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="stylesheet" href="https://use.typekit.net/eaq6veo.css" />
    <script
      data-collect-dnt="true"
      async
      src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </head>
  <body>
    <MainNav />

    <main id="main" role="main" class="container">
      <slot />
    </main>
  </body>
</html>
