---
import ColorPicker from "../components/ColorPicker.tsx";
import "../styles/styles.css";

const mainTitle = "Michael Watts, Software Engineer";
const { pageTitle, pageDescription } = Astro.props;
---

<script>
  import {
    themePrimary,
    themeOnPrimary,
    themeSecondary,
    themeEmphasis,
  } from "../store";

  document.documentElement.style.setProperty(
    "--color-primary",
    themePrimary.get()
  );
  document.documentElement.style.setProperty(
    "--color-onPrimary",
    themeOnPrimary.get()
  );
  document.documentElement.style.setProperty(
    "--color-secondary",
    themeSecondary.get()
  );
  document.documentElement.style.setProperty(
    "--color-emphasis",
    themeEmphasis.get()
  );

  themePrimary.subscribe((color) => {
    document.documentElement.style.setProperty("--color-primary", color);
  });

  themeOnPrimary.subscribe((color) => {
    document.documentElement.style.setProperty("--color-onPrimary", color);
  });

  themeSecondary.subscribe((color) => {
    document.documentElement.style.setProperty("--color-secondary", color);
  });

  themeEmphasis.subscribe((color) => {
    document.documentElement.style.setProperty("--color-emphasis", color);
  });

  if (
    "IntersectionObserver" in window &&
    "IntersectionObserverEntry" in window &&
    "intersectionRatio" in window.IntersectionObserverEntry.prototype
  ) {
    let observer = new IntersectionObserver((entries) => {
      if (entries[0].boundingClientRect.y < 0) {
        document.body.classList.add("header-not-at-top");
      } else {
        document.body.classList.remove("header-not-at-top");
      }
    });
    const anchor = document.querySelector("#top-of-site-pixel-anchor");
    if (anchor) {
      observer.observe(anchor);
    }
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{mainTitle} | {pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="stylesheet" href="https://use.typekit.net/eaq6veo.css" />
  </head>
  <body>
    <div class="container">
      <span id="top-of-site-pixel-anchor"></span>
      <div
        id="main"
        role="main"
        class="main"
        style="view-transition-name: work-main;"
      >
        <slot />
      </div>
    </div>

    <ColorPicker client:only="react" />
  </body>
</html>

<style is:global>
  .work {
    --body-margin: var(--space-2xs);
    --text-color: var(--color-onPrimary);
  }

  .main {
    height: auto;
    color: var(--text-color);
    border-radius: var(--border-radius);
    padding: var(--space-m);
  }

  .main h1 {
  }
</style>
